<div id="collection-id-box">
  <h2 class="title">Edward Feigenbaum Collection</h2>
  <div >Collection note, scope, coverage...</div>
  <ul class="links horizontal">
    <li><%= link_to("Collection Home", collection_path(1))%> </li>
    <li>Finding Aid</li>
    <li>Access</li>
  </ul>
</div>