<h2>Edward A Feigenbaum</h2>
<%= image_tag "feigenbaum_splash.png"%>

<%= link_to "Browse the Collection", catalog_index_path("f[collection_facet]" => "e-a-feigenbaum-collection") %>


<ul>
  <li>Finding Aid</li> 
  <li>Access</li>
</ul>

Notes, Scope, Coverage...