<div class="document_viewer" id="cover_container">
	<div class="deleteDocument">
    <%= link_to "Delete resource", asset_path(params[:id]), :method=>:delete, :confirm => "Are you sure you want to delete the resource and its content?", :class => "submitLink"%>
	</div>
  <div class="set-controls">
    <!-- holder for create/move set controls -->
	<div class="move">
		<a href="">Move to a new set</a>
	</div>
  </div>
  <div class="content-type-header">
    <h1>Edit a structural set</h1>
  </div>
  <div class="multipleEdit">
    <%= render :partial => 'structural_sets/edit_description' %>
   <div class="permissionsEdit" style="padding-top:1em;">
		<h2>Permissions edit</h2>
		<br/>
		<p>The following are the 'Default object permissions' .  Any content that is deposited into this set will inherit these permissions.</p>
		<br/>
   	<%= render :partial => "permissions/index", :locals => {:document => document, :asset_id=>params[:id], :resource_type => 'structural_set', :datastream => 'defaultObjectRights'} %>
   </div>
  </div>
</div>
<% sidebar_items << capture do %>
  <%#= render :partial=>"catalog/_show_partials/facets", :locals=>{:document=>document, :facets_display_heading => "This document refers to:"} %>
  <%#= render :partial=>'facets' %>
<% end %>

