<div id="title_div" style="float:left;width:540px;height:40px;"><h2><%= link_to_document(document, :label => Blacklight.config[:show][:heading].to_sym, :counter => (counter + 1 + @response.params[:start].to_i)) %></h2></div>
<div id="content_div">
	<dl id="index_list">
  <dt>Resource type</dt>
	<dd>
    <%= document[:genre_t] %>
	</dd>
  <% unless document[:admin_note_t].nil? %>
   <dt>Status</dt>
	  <dd>
      <%= document[:admin_note_t] %>
	  </dd>
  <% end %>
  	<dt>Members</dt>
	<dd>
    <%= link_to "View set members", "/?f%5Bis_member_of_s%5D%5B%5D=info:fedora/#{document[:id_t]}&results_view=true" %>
	</dd>
  </dl>
</div>

