<div id="description">
  <dl>
    <%= display_datastream_field(@document_fedora,"descMetadata", [:title], "", "dd_title") %>
    <%= display_datastream_field(@document_fedora,"descMetadata", [:description],"Description", "dd_text") %> 
    </dl>
 </div>



