.DS_Store
nohup.out

*.sqlite3
*.log
*~
*.swp

vendor/plugins/haml/init.rb
vendor/plugins/blacklight/.git
log/*
coverage.data
coverage/*

public/plugin_assets
public/plugin_assets/

tmp/**/*
tmp/performance 

rerun.txt

db/schema.rb

.project
.buildpath
.rvmrc

/.bundle
/.yardoc
/doc
