.DS_Store
nohup.out

*.sqlite3
*.log
*~
*.swp

vendor/plugins/haml/init.rb

log/*
coverage.data
coverage/*

public/plugin_assets
public/plugin_assets/**/*

tmp/**/*
tmp/performance 

rerun.txt

.project
.buildpath
.rvmrc
