[submodule "jetty"]
	path = jetty
	url = git://github.com/projecthydra/hydra-jetty.git

[submodule "jetty"]
    path = vendor/plugins/blacklight/jetty
    url = git://github.com/projectblacklight/blacklight-jetty.git
[submodule "vendor/plugins/blacklight/data"]
    path = vendor/plugins/blacklight/data
    url = git://github.com/projectblacklight/blacklight-data.git