<div class="document_viewer" id="cover_container">  
  <div class="content-type-header">
  <h1>Collection</h1></div>
  <%= render :partial => 'display_sets/show_description' %>
  <%= render :partial => 'display_sets/show_downloads' %>
  <%= render :partial => 'shared/show_links' %>
  <%= render :partial => 'shared/show_resources' %>

</div>


