<div id="downloads">
  <fieldset>
     <legend>Resources</legend>
		 <div id="downloads-list">
		   <%= link_to "Show collection members", "/?f%5Bis_member_of_s%5D%5B%5D=info:fedora/#{@document_fedora.pid}&results_view=true" %>
		 </div> 
	</fieldset>
</div>
