<div id="downloads">
  <fieldset id="download_fields">
   <legend>Download</legend>
   <div id="downloads-list">
    <div><div id="download_image" class="pdf-download" ></div>
    <%= link_to "Presentation", asset_downloads_path(params[:id], :download_id=>"content") %>
    </div>
   </div>
 </fieldset>
</div>

