- javascript_includes << 'custom'
- javascript_includes << "catalog/show"

.document_viewer#cover_container

  %div.accordion-section
    %h2.section-title Description
    = render :partial => 'hydrangea_articles/edit_description'

  %div.accordion-section
    %h2.section-title Download Files
    %div#uploads{'data-pid' => params[:id]}

  %div.accordion-section
    %h2.section-title Permissions
    = render :partial => "hydrangea_articles/show_permissions", :locals => {:document => document}

- sidebar_items << capture do 
  = #render :partial=>"catalog/_show_partials/facets", :locals=>{:document=>document, :facets_display_heading => "This document refers to:"}

= async_load_tag(asset_file_assets_path(params[:id]), 'uploads')
