<% # main container for facets/limits menu -%>
<div id="facets">
  <h2>This Document is About         (related items)</h2>
  <% facet_field_names.each do |solr_fname| %>
    <div>
      <%# display_facet = @response.facets.detect {|f| f.name == solr_fname} -%>
      <% display_facet = document[solr_fname] -%>
      <% if display_facet %>
        <h3><%= facet_field_labels[solr_fname] -%></h3>
        <ul>
          <% display_facet.each do |item| -%>
            <% link_options = add_facet_params(solr_fname, item).merge!Hash["controller" => "catalog", :action=> "index"] %>
              <li>
                <%= link_to h(item), url_for(link_options) %> (<%#= format_num item.hits %>)
              </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  <% end %>
</div>
