/* Accordion control */

div.accordion-section {
    border: 1px solid #cccccc;
    overflow: auto;
	padding: 10px;
}

div.accordion-section h2.section-title {
    background: #cccccc;
    padding: .5em;
    margin: -10px -10px 0  -10px;
}




/* Multiple fields in one line */

.multi_inline ol li {
	display:inline-block;
	list-style-type:none;
	position: relative;
}
.multi_inline ol li span.field {
	float:left;
	width: 8em;
	margin: 0 1em 1em 0;
}

.multi_inline ol li label {
	position: absolute;
	bottom: -3px;
	left: 3px;
	font-size: .9em;
}




/*
	LAYOUT TOOLS
*/
.floatLeft 			{ float: left; }
.floatRight			{ float: right; }
.clear					{ clear: both; }
.layoutCenter		{ margin: 0 auto; }
.textCenter			{ text-align: center; }
.textRight			{ text-align: right; }
.textLeft				{ text-align: left; }
/*
	PRINT TOOLS
*/
.page-break 			{ page-break-before: always; }
/*
	TYPOGRAPHIC TOOLS
*/
.error					{ border: 1px solid #fb4343; padding: 3px; color: #fb4343; }
.warning				{ border: 1px solid #d4ac0a; padding: 3px; color: #d4ac0a; }
.success				{ border: 1px solid #149b0d; padding: 3px; color: #149b0d; }
.callOut				{ font-size: 125%; font-weight: bold; }
.strikeOut			{ text-decoration: line-through; }
.underline			{ text-decoration: underline; }
.resetTypeStyle			{ font-weight: normal; font-style: normal; font-size: 100%;
					  text-decoration: none; background-color: none; word-spacing: normal;
					  letter-spacing: 0px; text-transform: none; text-indent: 0px; }
/*
	DISPLAY VALUES
*/
.hide				{ display: none; }
.show				{ display: block; }
.invisible	{ visibility: hidden; }




/* styles for "add new" split button */

div#create-asset-box {position:relative; float: right; margin-top: 8px; font:0.7em Verdana, "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif; line-height: 1.4; color:#333;}
div#create-asset-box input, div#create-asset-box button {font:0.7em Verdana, "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif; line-height: 1.4; color:#333; height: 2.4em;}
input#re-run-action{margin-right: -0.5em;}
ul#create-asset-menu {display: none; overflow: auto; background: #f6f6f6 url('../plugin_assets/blacklight/stylesheets/jquery/ui-lightness/images/ui-bg_glass_100_f6f6f6_1x400.png') repeat-x scroll 50% 50%; position: absolute; border: 1px solid #ccc; z-index: 500; padding: 0; margin: 0; cursor: pointer;}
ul#create-asset-menu li {padding: 5px 12px; margin:0; list-style: none;}
ul#create-asset-menu li:hover {background-color: #666; color: #fff;}



/* Delete multiple-value field */

a.destructive {
background-image:url("/images/icons/delete.png");
	background-position:0 1px;
	background-repeat:no-repeat;
	color: transparent;
	margin-left: -15px;
	overflow:hidden;
	padding-left:15px;
	border-bottom: none;
}
.destructive img
{
 display: none;
}
