h1.site_title {
	background:url("/images/hydrangea_logo.png") no-repeat scroll left top transparent;
	height:42px;
	margin:0 0 0 0;
	width:120px;
}


/* Accordion control */

div.accordion-section {
    border: 1px solid #cccccc;
	background:url("/images/accordion-gradient.png") repeat-x scroll left top #FFF;
    overflow: auto;
	padding: 10px;
}

div.accordion-section h2.section-title {
    margin: -8px 0 10px 0;
}


#new_contributor {
  display: none;
}

/* Multiple fields in one line */

.multi_inline ol li {
	display:inline-block;
	list-style-type:none;
	position: relative;
}
.multi_inline ol li span.field {
	float:left;
	width: 16em;
	margin: 0 1em 1em 0;
}


.multi_inline ol li label {
	position: absolute;
	bottom: -3px;
	left: 0px;
	font-size: .9em;
}




/*
	LAYOUT TOOLS
*/
.floatLeft 			{ float: left; }
.floatRight			{ float: right; }
.clear					{ clear: both; }
.layoutCenter		{ margin: 0 auto; }
.textCenter			{ text-align: center; }
.textRight			{ text-align: right; }
.textLeft				{ text-align: left; }
/*
	PRINT TOOLS
*/
.page-break 			{ page-break-before: always; }
/*
	TYPOGRAPHIC TOOLS
*/
.error					{ border: 1px solid #fb4343; padding: 3px; color: #fb4343; }
.warning				{ border: 1px solid #d4ac0a; padding: 3px; color: #d4ac0a; }
.success				{ border: 1px solid #149b0d; padding: 3px; color: #149b0d; }
.callOut				{ font-size: 125%; font-weight: bold; }
.strikeOut			{ text-decoration: line-through; }
.underline			{ text-decoration: underline; }
.resetTypeStyle			{ font-weight: normal; font-style: normal; font-size: 100%;
					  text-decoration: none; background-color: none; word-spacing: normal;
					  letter-spacing: 0px; text-transform: none; text-indent: 0px; }
/*
	DISPLAY VALUES
*/
.hide				{ display: none; }
.show				{ display: block; }
.invisible	{ visibility: hidden; }




/* styles for "add new" split button */


.ui-widget {font-family: Lucida Grande,Lucida Sans,Arial,sans-serif;}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	background:url("../plugin_assets/blacklight/stylesheets/jquery/ui-lightness/images/ui-bg_glass_100_f6f6f6_1x400.png") repeat-x scroll 50% 50% #DFEFFC;
	border:1px solid #C5DBEC;
	color:#2E6E9E;
	font-weight:bold;
	outline:medium none;
}
.ui-state-default .ui-icon {
background-image:url("../plugin_assets/blacklight/stylesheets/jquery/ui-lightness/images/ui-icons_2e4f81_256x240.png");
}

div#create-asset-box .ui-widget {font-size: 1em;}
div#create-asset-box {position:relative; margin-top: 15px; color:#333;}
div#create-asset-box input, div#create-asset-box button {color:#333;}
input#re-run-action{margin-right: -0.5em;}
ul#create-asset-menu {display: none; overflow: auto; background: #f6f6f6 url('../plugin_assets/blacklight/stylesheets/jquery/ui-lightness/images/ui-bg_glass_100_f6f6f6_1x400.png') repeat-x scroll 50% 50%; position: absolute; border: 1px solid #ccc; z-index: 500; padding: 0; margin: 0; cursor: pointer; top: 2.3em; right: 2em;}
ul#create-asset-menu li {padding: 5px 12px; margin:0; list-style: none;}
ul#create-asset-menu li:hover {background-color: #666; color: #fff;}

div#add-contributor-box .ui-widget {font-size: .9em;}
div#add-contributor-box .ui-button {padding: 0;}
div#add-contributor-box {position:relative; margin-top: 15px; color:#333; margin: 5px 0 0 20px;}
div#add-contributor-box input,  div#add-contributor-box button {color:#333; height: 2.2em;}
div#add-contributor-box button {padding: 0 0;}
input#re-run-add-contributor-action {margin-right: -0.5em; padding: 0 0.6em !important;}
ul#add-contributor-menu {display: none; overflow: auto; background: #f6f6f6 url('../plugin_assets/blacklight/stylesheets/jquery/ui-lightness/images/ui-bg_glass_100_f6f6f6_1x400.png') repeat-x scroll 50% 50%; position: absolute; border: 1px solid #ccc; z-index: 500; padding: 0; margin: 0; cursor: pointer; left: 0; }
ul#add-contributor-menu li {padding: 5px 12px; margin:0; list-style: none;}
ul#add-contributor-menu li:hover {background-color: #666; color: #fff;}




/* Delete multiple-value field */

a.destructive {
    background-image:url("/images/icons/delete-blue.png");
	background-position: 0 0;
	background-repeat:no-repeat;
	color: transparent;
	margin-left: -19px;
	overflow:hidden;
	padding-left:16px;
	border-bottom: none;
} 

td a.destructive {
	margin-left: 0px;
	padding-left: 8px;
	} 

a:hover.destructive {
    background-image:url("/images/icons/delete-red.png");
	}

a.addval {
	background:none repeat scroll 0 0 #F6F6F6;
	border:1px solid #EEEEEE;
	font-size: 13px;
	font-weight: bold;
	padding: 0 1px;
	margin: 0 5px 0 3px;
	}
	
a:hover.addval {
	color: #00cc00;
}


.destructive img
{
 display: none;
}
