h1.site_title {
	background:url("/images/hydrangea_logo.png") no-repeat scroll left top transparent;
	height:42px;
	margin:0 0 0 0;
	width:120px;
}


/* Accordion control */

div.accordion-section {
    border: 1px solid #cccccc;
	background:url("/images/accordion-gradient.png") repeat-x scroll left top #FFF;
    overflow: auto;
	padding: 10px;
}

div.accordion-section h2.section-title {
    margin: -8px 0 10px 0;
}


#new_contributor {
  display: none;
}

/* Multiple fields in one line */

.multi_inline ul, fieldset ol {
	margin: 0px; padding: 0px;}

.multi_inline ul li {
	display:inline-block;
	list-style-type:none;
	position: relative;
	margin-bottom: .5em;
}


.multi_inline span.editable-text {
	float:left;
	margin: 0 0 1em 0;
}

.multi_inline label {
	position: absolute;
	top: 2em;
	left: 0;
	font-size: .9em;
}


li.name_first {width: 49%;}
li.name_last {width: 49%;} 


span.editable-text {display:inline-block; width: 100%; background-color: white; height: 1.5em; overflow: hidden;}

/* set field sizes for fields with label to left */

dd.title span.editable-text {width: 400px;}
dd.language span.editable-text {width: 100px;}
dd.journal span.editable-text {width: 400px;}
dd.publisher span.editable-text {width: 200px;}
dd.issn span.editable-text {width: 100px;}
dd.organiztion span.editable-text {width: 400px;} /* TYPO in HTML */
dd.conference span.editable-text {width: 400px;}

dd.publication_date {width:44em;}
dd.publication_date span.editable-text {width: 100px;}

/* set field sizes for fields with label underneath */

/*dd.person {width: 43em;} */
dd.person .name_first span.editable-text {width: 175px;}
dd.person .name_last span.editable-text {width: 175px;}
dd.person .affiliation span.editable-text {width: 400px;}
dd.organization span.editable-text {width: 400px;}
dd.conference span.editable-text {width: 400px;}
dd.citation .citation_volume span.editable-text {width: 100px;}
dd.citation .citation_issue span.editable-text {width: 100px;}
dd.citation .start_page span.editable-text {width: 100px;}
dd.citation .end_page span.editable-text {width: 100px;}

div#abstract-text textarea {display: block; width: 450px !important;}

/*
	LAYOUT TOOLS
*/
.floatLeft 			{ float: left; }
.floatRight			{ float: right; }
.clear					{ clear: both; }
.layoutCenter		{ margin: 0 auto; }
.textCenter			{ text-align: center; }
.textRight			{ text-align: right; }
.textLeft				{ text-align: left; }
/*
	PRINT TOOLS
*/
.page-break 			{ page-break-before: always; }
/*
	TYPOGRAPHIC TOOLS
*/
.error					{ border: 1px solid #fb4343; padding: 3px; color: #fb4343; }
.warning				{ border: 1px solid #d4ac0a; padding: 3px; color: #d4ac0a; }
.success				{ border: 1px solid #149b0d; padding: 3px; color: #149b0d; }
.callOut				{ font-size: 125%; font-weight: bold; }
.strikeOut			{ text-decoration: line-through; }
.underline			{ text-decoration: underline; }
.resetTypeStyle			{ font-weight: normal; font-style: normal; font-size: 100%;
					  text-decoration: none; background-color: none; word-spacing: normal;
					  letter-spacing: 0px; text-transform: none; text-indent: 0px; }
/*
	DISPLAY VALUES
*/
.hide				{ display: none; }
.show				{ display: block; }
.invisible	{ visibility: hidden; }




/* styles for "add new" split button */


.ui-widget {font-family: Lucida Grande,Lucida Sans,Arial,sans-serif;}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	background:url("../plugin_assets/blacklight/stylesheets/jquery/ui-lightness/images/ui-bg_glass_100_f6f6f6_1x400.png") repeat-x scroll 50% 50% #DFEFFC;
	border:1px solid #C5DBEC;
	color:#2E6E9E;
	font-weight:bold;
	outline:medium none;
}
.ui-state-default .ui-icon {
background-image:url("../plugin_assets/blacklight/stylesheets/jquery/ui-lightness/images/ui-icons_2e4f81_256x240.png");
}

div#create-asset-box .ui-widget {font-size: 1em;}
div#create-asset-box {position:relative; margin-top: 15px; color:#333;}
div#create-asset-box input, div#create-asset-box button {color:#333;}
input#re-run-action{margin-right: -0.5em;}
ul#create-asset-menu {display: none; overflow: auto; background: #f6f6f6 url('../plugin_assets/blacklight/stylesheets/jquery/ui-lightness/images/ui-bg_glass_100_f6f6f6_1x400.png') repeat-x scroll 50% 50%; position: absolute; border: 1px solid #ccc; z-index: 500; padding: 0; margin: 0; cursor: pointer; top: 2.3em; right: 2em;}
ul#create-asset-menu li {padding: 5px 12px; margin:0; list-style: none;}
ul#create-asset-menu li:hover {background-color: #666; color: #fff;}

div#add-contributor-box .ui-widget {font-size: .9em;}
div#add-contributor-box .ui-button {padding: 0;}
div#add-contributor-box {position:relative; color:#333; margin: 0 0 5px 0;}
div#add-contributor-box input,  div#add-contributor-box button {color:#333; height: 2.2em;}
div#add-contributor-box button {padding: 0 0;}
input#re-run-add-contributor-action {margin-right: -0.5em; padding: 0 0.6em !important;}
ul#add-contributor-menu {display: none; overflow: auto; background: #f6f6f6 url('../plugin_assets/blacklight/stylesheets/jquery/ui-lightness/images/ui-bg_glass_100_f6f6f6_1x400.png') repeat-x scroll 50% 50%; position: absolute; border: 1px solid #ccc; z-index: 500; padding: 0; margin: 0; cursor: pointer; left: 0; }
ul#add-contributor-menu li {padding: 5px 12px; margin:0; list-style: none;}
ul#add-contributor-menu li:hover {background-color: #666; color: #fff;}




/* Delete multiple-value field */

a.destructive {
    background-image:url("/images/icons/delete-blue.png");
	background-position: 0 0;
	background-repeat:no-repeat;
	color: transparent;
	overflow:hidden;
	border-bottom: none;
    position: absolute;
	top: 2px;
	right: -25px;	
	width: 20px;
} 

td a.destructive {
	margin-left: 0px;
	padding-left: 8px;
	} 

a:hover.destructive {
    background-image:url("/images/icons/delete-red.png");
	}

a.addval {
	background:none repeat scroll 0 0 #F6F6F6;
	border:1px solid #EEEEEE;
	font-size: 13px;
	font-weight: bold;
	padding: 0 1px;
	margin: 0 5px 0 3px;
	}
	
a:hover.addval {
	color: #00cc00;
}


.destructive img
{
 display: none;
}

a#inline {
	top:5em;
	position:absolute;
	}

div#ft {
	text-align: center;
	margin: 20px;
	padding: 5px;
	border-top: 1px dotted #cccccc;
	}

div.solrQuery {display: none;}

div.powered_by {
	font-size:0.9em;
	font-weight:bold;
	}
