/* Stylesheet for Hull Hydra  

RG  090818

*/

/* Over-ride body etc in application.css */

html {
    background: none repeat scroll 0 0 #BCC4CA;
}

body {
  background: #BCC4CA;
  font: 0.8em Lucida Sans, Lucida Sans Unicode, Arial, Georgia;
  color:#000;
  margin: 0px;
  padding: 15px;
}

#bd {
    padding: 0 1.5em 8em 2em;
}

h1, h2, h3 {
    margin: 0.5em 0;
}

h3 {
    font-size: 100%;
}

h2 {
	font-weight: normal;
}

legend {
	font-weight: bold;
}

p, fieldset, table, pre {
    margin-bottom: 0em;
}

#doc1, #doc2, #doc1, #doc4 {
	width: 960px;
	background: url("/images/shadowright.gif") repeat-y scroll right top #FFFFFF;
    padding-right: 9px;
	border-bottom: 0px;
}

h1.document_heading {
	width:660px;
}

select,input,button,textarea {
    font: 0.8em Lucida Sans, Arial,Georgia;
    border-width: 1px;
}

a:link, a:visited, a:active {
    border-bottom: 0px;
    color: #000;
    text-decoration: none;
}

a:hover {
   text-decoration:underline;
}

#border-right {
	background-color: red;
    float: left;
    height: 100%;
    margin-left: 960px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-top: 5px;
    position: relative;
    width: 10px;
}

hr {
    background-color: #D9E2E8;
    border: medium none;
    height: 1px;
}

.separator {
  border-top: 1px dotted #333333;
  margin: 2em 0 1.75em 0;
  width: 53em;
}

/* HEADER & FOOTER */

#top-nav {

}

#uni-nav-links {
  padding-top: 10px;
  height: 35px;
  /* background: url(/images/top_nav_bg_h_new.gif) repeat-x; */
  background-color: #91A23D;
}
/* nav link image is 25px, 26px to give separation */
/* nav link image is now 20px, 21px to give separation */

#uni-nav-links ul {
	margin-left: 15px;
	margin-top: 0px;
	width:400px;
	float: left;
	height: 15px;
	padding-top: 5px;
}
/* padding top (5) removed for BL */

/* ie workaround
* html #uni-nav-links {
	margin-top: 5px;
	margin-left: 17px;
}
*/

#uni-nav-links li {
	display: inline;
	list-style-type: none;
	padding-right: 12px;
	padding-left: 0px;
	padding-top: 0px;
	font-size: 1em;
    font-weight: bold;
}

/* ie workaround */
* html #uni-nav-links li {
	padding-left: 12px;
}

#uni-nav-links a {
       /*color: #8fb9c5;*/
	color: #fff;
	text-decoration: none;	
}

#uni-nav-links a:hover {
	color: #fff;	
	text-decoration: underline;
}

#uni-nav-links li.no-border {
	border-right: none;
}

#blacklight-user-links {
    margin-right: 15px;
	padding-top: 5px;
	color: #A02720;
	text-align: right;
	font-size: 1em;
	font-weight: bold;
}

div#links-right {
	color: #fff;
}

div#links-right a {
	padding-left: 15px;
}

#site-title {
	float: left;
	color: #fff;
    font-size: 1.8em;
    font-weight: bold;
    padding-left: 15px;
    padding-top: 26px;
	height: 34px;
	background-color: #000;
}

#logo {
    margin-top: 0px;
    margin-left: 0px;
    height: 0px;
    background: url(/images/new-bw-logo.gif) top right no-repeat #000000;
    background-position: top right;
    padding-bottom:60px;
 }
 /*logo image is 51px, 55px to give margin */

.hydra-logo-large {
    background: url("/images/hydra_logo_h100_transparent_bg.png") no-repeat scroll center top #FFFFFF;
    height: 100px;
    margin-left: 0;
    margin-top: 1em;
    padding-bottom: 60px;
 }
 
#hullFooter {
	background: url("/images/shadowbottom.gif") repeat-x scroll left bottom #D9E2E8;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
	padding-bottom: 6px;
    width: 940px;
	float: left;
	margin-top: -56px;
}

#document h1 {
    font-size: 1.3em;
}
 
.tableNoBorder {
	border-collapse: collapse;
    border-color: #E2E8D9;
    border-width: 0;
    color: #333333;
    font-size: 78%;
 }

#about {
    margin-top: 0px;
    margin-left: 0px;
	padding-left: 5px;
}

#about ul {
    margin-top: 0px;
    margin-left: -400px;
	width: 830px;
	padding-left: 5px;
}
/* needed to override inherited ul */
 
 /* INDEX & CATALOG DISPLAY */

h1.site_title {
 background:url(/images/hydra_logo_h50_transparent_bg.png) no-repeat scroll left top transparent;
}

 
 table.index  {
 width: 100%;
 border-width: 0px;
 padding: -10px;
 }
 
 table.index td {padding: 2px 5px}
 
 table.resource {
 table-layout: auto;
 width: 100%;
 border-width: 0px;
 border-collapse: collapse;
 background-color: #e2edfe;
 text-align: center;
 }
 
 table.resource td {
 width: 25%;
 }
  
 td.label {
 color: gray;
 width: 120px;
 text-align: right;
 /* background-color: #fff7e5; */
 }
 
 td.greybox {
 background: #e0e0e0;
 border-width: 1px;
 border-color: #505050;
 }
  
.indexContainer, .splashContainer, .iconContainer
{
width: 100%;
position: relative;
margin: 10px auto;
line-height: 130%;
clear: both;
}

.contentContainer
{
width: 100%;
position: relative;
overflow: hidden;
line-height: 130%;
clear: both;
background-color: #e2edfe;
}

.indexCol1, .splashCol1
{
float: left;
margin: 0;
text-align: right;
top: 0;
color: #888;
}

.indexCol1 {width: 125px;}
.splashCol1 {width: 150px;}

.indexCol2
{
margin-left: 135px;
margin-right: 130px;
}
/* indexCol1 width + 10px */

.splashCol2
{
margin-left: 160px;
}
/* splashCol1 width + 10px */

.indexImg
{
float: right;
position: absolute;
top: 0px;
right: 0px;
max-height: 90px;
}

.thumbnailImg
{
border: 1px solid #e2edfe;
}

.homeCol1 {
top: 0px;
float: left;
margin-left: 0px;
width: 480px;
text-align: left;
margin-left: 0px;
margin-top: -21px;
}

.homeCol2 {
top: 0px;
margin-left: 500px;
width: 170px; 
padding: 15px;
background-color: #D9E2E8;
}

.contentCol1, .contentCol2, .contentCol3, .contentCol4, .iconCol1, .iconCol2, .iconCol3
{
float: left;
text-align: center;
top: 0;
}

.contentCol1, .contentCol2 { width: 30%; }
.contentCol3, .contentCol4 { width: 20%; }

.iconCol1, .iconCol2, .iconCol3 {width: 32%;}

html body div#doc4.yui-t2 div#bd div#yui-main div.yui-b div.homeContainer div.homeCol1 div.iconContainer div.iconCol1 a span#icon-title

/* Overriding to remove the left border from catalog pages */

.yui-t1 #yui-main .yui-b, .yui-t2 #yui-main .yui-b, .yui-t3 #yui-main .yui-b 
{
	border-left:0px;
}

#yui-main {
		position: static;
    width: 930px;
}

/* Overriding to remove the bottom border from asset view */
.document 
{
  border-bottom:0px;
}

#hd
{
    margin:0px;
    background-color: #D9E2E8;
    border-bottom:0px;
    padding: 1.5em 0;
}

#hd .yui-g .first {
    padding-left: 25px;
}

#search {
    border: 0px;
    padding-top: 0.6em;
    margin-left: 3.5em;
}

#search #q {
    width: 350px;
    height:24px;
    border-width: 1px 1px 1px 1px;
    font-family:Arial, Georgia;
    font-size:17px;
    padding-left:0.25em;
    padding-right:0.25em;
    box-shadow: 2px 2px 2px #d9e2e8 inset;
    -moz-box-shadow: 2px 2px 2px #d9e2e8 inset;
    -webkit-box-shadow: 2px 2px 2px #d9e2e8 inset;
}

#search .submit {
    margin: 0 0em;
    padding: 0 0em;
    cursor:pointer;
    background: url("/images/button-bg.png") no-repeat scroll 0 0;
    height:30px;
    border-width: 0px 1px 1px 1px;
    padding-left:0.75em;
    padding-right:0.75em;
	vertical-align: top;
}

/* #appliedParams and #sortAndPerPage are displayed on results pages */

 
 border:0px solid #AAA;
}

#sortAndPerPage {

}

#searchIndicator {
	background-color: #C9D484;
    border-style: solid none solid solid;
    border-width: 1px 0 1px 1px;
    box-shadow: 0 10px 10px #E2E8BA inset;
	-moz-box-shadow: 0 10px 10px #E2E8BA inset;
    -webkit-box-shadow: 0 10px 10px #E2E8BA inset;
    float: left;
    margin-left: -44px;
    margin-top: -78px;
    padding: 7px 1px 5px 10px;
	border-top: 1px solid #EBEFD0;
	border-right: 1px solid #B6C462;
	border-bottom: 1px solid #B6C462;
	border-left: 1px solid #EBEFD0;
	width: 70px;
}

.homeContainer {
	width: 100%;
	position: relative;
	margin: 10px auto;
	line-height: 130%;
	lear: both;
	margin-left;0px;
}

.pageEntriesInfo {
    background-color: #D9E2E8;
    border-width: 0px 0px 0;
    padding: 0.66em;
    border-radius: 0px 0px 0 0;
}

#appliedParams {
    background-color: #D9E2E8;
    border-bottom: 0px;
    border-left: 0px;
    border-radius: 0 0 0px 0px;
    border-right: 0px;
    margin-bottom: 1.5em;
    padding: 1em 0.66em 0 1em;
}

#appliedParams a#startOverLink {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("/images/button-bg.png") no-repeat scroll top left transparent;
    border-color: #fff #898989 #898989 #fff;
    border-style: solid;
    border-width: 0 1px 1px 1px;
    color: #FFFFFF;
    display: block;
    margin-right: 3px;
    margin-top: -10px;
    padding: 0 15px 0 15px;
    position: absolute;
    right: 0;
    text-decoration: none;
    top: 50%;
    line-height: 20px;
    color: #333;
}

#appliedParams h3 {
    padding: 5px 2px 5px 23px;
    margin-right: 0.3em;
	border-top: 1px solid #fff;
	border-right: 1px solid #E0D9CA;
	border-bottom: 1px solid #E0D9CA;
	border-left: 1px solid #fff;
	border-style: solid solid solid solid;
    border-width: 1px 0 1px 1px;
    box-shadow: 0 10px 10px #fffaed inset;
	-moz-box-shadow: 0 10px 10px #fffaed inset;
    -webkit-box-shadow: 0 10px 10px #fffaed inset;
	background-color: #FFF7E5;
}

.appliedFilter {
    padding: 5px 2px 5px 23px;
    border-radius: 0 0 0 0;
	border-top: 1px solid #fafcff;
	border-right: 1px solid #bcd0f2;
	border-bottom: 1px solid #bcd0f2;
	border-left: 1px solid #fafcff;
	border-style: solid solid solid solid;
    border-width: 1px 1px 1px 1px;
    box-shadow: 0 10px 10px #ebf3ff inset;
	-moz-box-shadow: 0 10px 10px #ebf3ff inset;
    -webkit-box-shadow: 0 10px 10px #ebf3ff inset;
	background-color: #E2EDFE;
}

#appliedParams div {
    padding: 5px;
    margin-right: 0.3em;
	background-color: #C9D484;
	border-top: 1px solid #EBEFD0;
	border-right: 1px solid #B6C462;
	border-bottom: 1px solid #B6C462;
	border-left: 1px solid #EBEFD0;
	border-style: solid solid solid solid;
    border-width: 1px 1px 1px 1px;
    box-shadow: 0 10px 10px #E2E8BA inset;
	-moz-box-shadow: 0 10px 10px #E2E8BA inset;
    -webkit-box-shadow: 0 10px 10px #E2E8BA inset;
}

#sortAndPerPage {
    background-color: #D9E2E8;
    border-width: 0 0px 0px;
    padding: 0.56em 1em;
}

.appliedFilter .btnRemove {
    width: 30px;
}

select#sort, select#per_page {
	font-size: 1em;
}

#documents {
    background-color:#fff !important;
    color: #000 !important;
    width: 100%;
    z-index: 100;
	position: relative;
}

#title_div {
	width: 660px !important;
	font-family: Georgia, Arial;
	font-size: 1.2em !important;
	font-weight: normal !important;
	text-decoration: normal !important;
}

#previousNextDocument {
    background-color: #fff;
    border: 1px dotted #333333;
    border-radius: 0 0 0 0;
    margin-bottom: 0em;
    margin-left: 687px;
    margin-top: -24px;
    padding-left: 0;
}

.previous {
	padding-left: 0.6em;
}

.counter {
    margin-right: 0em;
    padding-left: 0.75em;
}


.pagination {
	padding: 0.66em 0.66em 0 0;
	background-color:transparent;
	border-width: 0;
}

.pagination a, .pagination span {
    border: 1px solid #FFFFFF;
}

.page_links {
	float:left;
}

 /* Local facets */

.yui-b {
 position:static;
}

.yui-t2 .yui-b {
    float: left;
    margin-left: -10px;
    width: 195px;
}
 
#facets {
    padding: 1em 0em 0em 0em;
}
  
#facets ul {
    border-bottom: 0px dotted #000;
    padding:padding: 0.3em 0.3em 0.3em 0.5em;
    margin: 0;
    background-color: #fff;
 }  

#facets.facets h2 {
	padding-bottom: 1em;
	color: #000;
	font-weight: bold;
}

/*
#facets h3 {
    cursor: pointer;
    background-position:left bottom;
    background-repeat:no-repeat;
    padding-left:15px;
    background-image:url('/images/facet_closed.png');
    color: #000000;
    padding-top: 0.3em;
}
*/

#facets h3 {
    background-position: left bottom;
    background-repeat: no-repeat;
    color: #333;
    cursor: pointer;
    margin-left: 0px;
    margin-right: 0px;
    padding-bottom: 0.4em;
    padding-left: 5px;
    padding-right: 5px;
    font-weight:bold;
    border-bottom:1px dotted #000;
}

#facets h3.facet_selected{
    background-image:url('/images/facet_open.png');
}

#facets span.selected {
    color: #A02720;
}

#facets li {
    margin: 0.5em 0.45em;
}

#facets li a:hover {
    background-color:#fff;
}
a:link, a:visited, a:active {
    border-bottom: 0;
}

#slide_panel {
	display: none;
}

#slide_link {}

.slide_button {}

.minus_icon {}


.content-type-header h1{
	font-family: Georgia, Arial;
	font-weight: normal;
	font-size: 1.5em !important;
}

div#description dl dd {
	float: left;
	/* width: 39em !important; */
	margin-top: 0em;
	margin-right: 0px;
	margin-left: 1em;
	line-height: 1.4em;
	padding-bottom: 0.5em;
}

div#description dl dt {
    clear: left;
    float: left;
    width: 10em;
    text-align: right;
    font-size: 1em;
    margin-top: 0em;
    line-height: 1.4em;
    color: #898989;
    padding-bottom: 0.5em;
}

.dd_title {
	font-family: Georgia, Arial;
	font-weight: normal;
	font-size: 1.7em;	
	width: 28em !important;
}

.dd_text {
   width: 41em !important;
}

dd.display {
	font-size: 1em !important;
}

dl dt dd { 
  clear: both !important; 
}

label {
    color: #898989;
    font-weight: normal;
}

.section-title {
	color: #333;
    font-size: 1.2em;
    font-weight: bold;
    padding-bottom: 0.5em;
    padding-left: 3.65em;
    width: 40.25em;
}

div#show_hide_resources {
    cursor: pointer;
    float: left;
    margin-top: 0em;
	padding: 0.5em 0.5em 0.5em 0;
    width: 52.5em;
	background-color: #FFFFFF;
    border-top: 1px dotted #333333;
}

span#additional_resources_span {
  background-image:url('/images/facet_closed.png');
  background-position:left center;
  background-repeat:no-repeat;
  padding-left:15px;
}

span#additional_resources_span a:hover {
	text-decoration: underline;
}

div#resources {
  margin-top:0.5em;
  height:40px;
  display:none;
}

div#resources-list {
	float:left;
	margin-top:0em;
	margin-left:0em;
	padding-top:0em;
	padding-bottom:0em;
	width:53em;
	background-color: #FFFFFF;
    border-bottom: 1px dotted #333333;
    line-height: 1.8em;
    padding-bottom: 0.5em;
}

div#resources-list a:hover {
	text-decoration: underline;
}

div#resources-list dt {
    color: #898989;
    float: left;
    margin-right: 1em;
    text-align: right;
    width: 12em;
}

div#resources-list dd {
    width:25em !important;
    text-align: left;
}

div#content_div {
    float:left;
    width:640px;
    line-height: 1.4em;
    padding-bottom: 0.5em;
}

div#journal {
	width:53em;
    line-height: 1.4em;
}

div#journal dt {
	color: #898989;
    float: left;
    margin-right: 1em;
    text-align: right;
    width: 10em;
}

div#journal dd {
	width:51em !important;
    text-align: left;
}

#index_list dt {
	color: #898989;
    float: left;
    /* margin-right: 1em; */
    text-align: right;
    width: 8em;
}

#index_list dd {
	float: right;
    margin-left: 0 !important;
    text-align: left;
    width: 41em !important;
}

dl dt {
  clear: both !important;
}

div#genre_image {
  float:right;
  width:60px;
  height:90px;
}


div#downloads {
  float:right;
  margin-top:-32px;
  padding-top:0.5em;
  padding-bottom:1.7em;
  padding-left:0.5em;
  width:200px;
  background-color:#D9E2E8;
}

div#downloads-list {
  padding-top:1em;
  padding-right:0.5em;
}

div#download {
  padding-top:0.5em;
}

div#view-map-link {
 padding-top:1px;
}

div#qr_code {
	padding-left:22px;
	padding-top: 2em;
}
#qr-image {
	border:5px solid #D9E2E8;
}

div#file-size {
	padding-left:22px;
	color: #898989;
}

div#links {
  float:right;
  margin-top:1.7em;
  padding-top:0.5em;
  padding-bottom:1.7em;
  padding-left:0.5em;
  width:15em;
}


div#description {
  float:left;
  padding-bottom:1.7em;
  width:52em;
}

div#download_image {
  float:left;
  width:16px;
  height:16px;
  margin-right:3px;
}

div#file_size {
  padding-left:5px;
}

div#links fieldset legend {
	padding-left: 0.7em;
}

div.text-genre {
  background-image:url('/images/icons/text-x-generic-th.png');
  background-position:top left;
  background-repeat:no-repeat;
}

div.collection-genre {
  background-image:url('/images/icons/folder-th.png');
  background-position:top left;
  background-repeat:no-repeat;
}

div.structural-set-genre {
  margin-top: -20px; 
  height: 60px !important;
  background-image:url('/images/icons/folder-th.png');
  background-position:top left;
  background-repeat:no-repeat;
}

div.dataset-genre {
  background-image:url('/images/icons/x-office-spreadsheet-th.png');
  background-position:top left;
  background-repeat:no-repeat;
}

div.event-genre {
  background-image:url('/images/icons/x-office-calendar-th.png');
  background-position:top left;
  background-repeat:no-repeat;
}

div.image-genre {
  background-image:url('/images/icons/image-x-generic-th.png');
  background-position:top left;
  background-repeat:no-repeat;
}

div.video-genre {
  background-image:url('/images/icons/video-x-generic-th.png');
  background-position:top left;
  background-repeat:no-repeat;
}

div.software-genre {
  background-image:url('/images/icons/binary-file-th.png');
  background-position:top left;
  background-repeat:no-repeat;
}
div.sound-genre {
  background-image:url('/images/icons/volume-medium-th.png');
  background-position:top left;
  background-repeat:no-repeat;
}

div.presentation-genre {
  background-image:url('/images/icons/x-office-presentation-th.png');
  background-position:top left;
  background-repeat:no-repeat;
}
div.hidden-genre {
  background-image:url('/images/icons/hidden-th.png');
  background-position:top left;
  background-repeat:no-repeat;
}
div.deleted-genre {
  background-image:url('/images/icons/deleted-th.png');
  background-position:top left;
  background-repeat:no-repeat;
}
div.pdf-download {
  background-image:url('/images/icons/download_icons/pdf.gif');
  background-position:left center;
  background-repeat:no-repeat;
}

div.img-download {
  background-image:url('/images/icons/download_icons/img.gif');
  background-position:left center;
  background-repeat:no-repeat;
}
div.doc-download {
  background-image:url('/images/icons/download_icons/msword.gif');
  background-position:left center;
  background-repeat:no-repeat;
}
div.vid-download {
  background-image:url('/images/icons/download_icons/vid.gif');
  background-position:left center;
  background-repeat:no-repeat;
}
div.sound-download {
  background-image:url('/images/icons/download_icons/sound.gif');
  background-position:left center;
  background-repeat:no-repeat;
}
div.presentation-download {
  background-image:url('/images/icons/download_icons/msppt.gif');
  background-position:left center;
  background-repeat:no-repeat;
}
div.spreadsheet-download {
  background-image:url('/images/icons/download_icons/msexcel.gif');
  background-position:left center;
  background-repeat:no-repeat;
}
div.zip-download {
  background-image:url('/images/icons/download_icons/zip.gif');
  background-position:left center;
  background-repeat:no-repeat;
}
div.generic-download {
  background-image:url('/images/icons/download_icons/generic.gif');
  background-position:left center;
  background-repeat:no-repeat;
}
div.kmlz-download {
  background-image:url('/images/icons/download_icons/kmlz.gif');
  background-position:left center;
  background-repeat:no-repeat;
}

/* notice, error override */

.notice {
    background-color: #DDFFAA;
    border: 1px dotted #339900;
    font-family: Georgia;
    margin-bottom: 2em;
    padding: 1em;
}

.error, .errorExplanation {
    background-color: #FFEEDD;
    border: 1px dotted #D21033;
    font-family: Georgia;
    margin-bottom: 2em;
    padding: 2em;
}

/* Added temporarily to hide debug output from layout */
.solrQuery {
	display: none;
}

/* Edit screen layout */

form#document_metadata {
	padding-bottom: 0em;
}

.multipleEdit {
	padding-left:2em;
}

.yui-t2 .yui-b p {
	padding-top: 0em;
}

.deleteDocument {
	margin-left: 708px;
	margin-top: 15px;
}

.set-controls {
	margin-top: 5px;
	line-height: 1.8em;
	float: right;
	margin-right: 75px;
}

fieldset.edit-standard legend, fieldset.edit-half legend {
	font-family: Lucida Sans, Arial, Georgia;
	font-size: 150%;
	font-weight: normal;
}

#contributors dl dt label {
	font-size: 165%;
}

.edit-standard dl dt label {
	font-size: 165%;
}

.info-multiple div.left dt label {
	font-size: 165%;
}

.info-multiple div.right dt label {
	font-size: 165%;
}

.form-control input {
  background: url("/images/button-bg.png") no-repeat scroll 0 0 transparent;
  border-width: 0 1px 1px;
  cursor: pointer;
  height: 30px;
  margin: 0 0;
  padding: 0 0.75em;
  vertical-align: top;
	/*float: left;*/
	margin-right: 10px;
}

/* hide inline edit spans, etc. */
span.editable-text, .text {
  display: none;
}
input.textile-edit, .text {
  display: none;
}

fieldset.edit-standard dd a.field {
  display: none;
}

fieldset.edit-half dd a.field {
  display: none;
}

form#document_metadata legend {
  margin-top: .5em;
 /* margin-bottom: .8em !important;*/
}

fieldset ol {
  list-style-type: none;
  margin-left: 0px;
  margin-top: 0px;
}

fieldset  ol li {
  list-style: none;
  margin-top: .5em;
  margin-bottom: .5em;
}

fieldset.edit-standard dd ol li a {
  float: right;
  margin-right: 16em;
}

div#contributors dl dt {
  width: 53em !important;
  text-align: left;
  font-size: .6em;
}

fieldset.edit-standard dl dt {
  width: 53em !important;
  text-align: left;
  font-size: .6em;
}

div#contributors  dd {
 width: 53em !important;
 font-size: 1.2em;
 margin-left: 0px;
 margin-top: .5em;
 margin-bottom: .9em;
float:left;
}

fieldset.edit-standard dl dd {
 width: 53em !important;
 font-size: 1.2em;
 margin-left: 0px;
 margin-top: .5em;
 margin-bottom: .9em;
float:left;
}

fieldset.edit-permissions dl dt {
 float:left;
 width: 10em !important
}

fieldset.edit-permissions dl dd {
 width: 53em !important;
 font-size: 1.2em;
 margin-left: 0px;
 margin-top: .5em;
 margin-bottom: .9em;
}

div#contributors dl dd span input {
  /*width: 50em;*/
  font-size: .8em;
}

fieldset.edit-standard dl dd input[type=text] {
  width: 50em;
  font-size: .8em;
}

fieldset.edit-standard dl dd ol input {
  width: 40em;
  font-size: .8em;
}


fieldset.edit-half dl dt {
  width: 20em !important;
  text-align: left;
  font-size: .6em;
  padding-bottom: 0.6em;
}

fieldset.edit-half dl dd {
  width: 50em !important;
  font-size: 1.2em;
  margin-left: 0px;
  /* margin-top: .5em; */
  margin-bottom: .9em;
  float:left;
}

fieldset.edit-half dl dd input {
  width: 24em;
  font-size: .8em;
}

fieldset.edit-half dl dd ul input {
  width: 20em;
  font-size: .8em;
}

form#content_metadata {
  margin-top: 1em;
}
fieldset textarea {
  width: 50em;
  height: 20em;
  resize: none;
}

span#peer_reviewed {
  font-size: .8em;
}

span#journal_origin_info_date_issued-container input.editable-edit.edit {
  width: 4em !important;
}

div.info-multiple {
  width: 80em;
  display:table;
  /* margin-top: 1em; */
}

div.info-multiple div.left {
  width:25em;
  float:left;
}

div.info-multiple div.right {
  width:55em;
  float:left;
}

div.volume_issue {
  width: 5em;
  float:left;
}

div.volume_issue dt,dd {
  width: 5em !important;
}

div.volume_issue  input {
  width: 3em !important;
}

div.journal_pages {
  width:15em;
  float:left;
}

div.journal_pages dt,dd {
  width: 10em !important;
}

div.journal_pages input {
  width: 5em !important;
}

div#contributors dd a {
  display: none;
}

div#subjects dd a.field {
  display: inline !important;
  margin-right: 10em;
}

div#grants dd a.field {
  display: inline !important;
  margin-right: 10em;
}

div.multi-field dd a.field {
  display: inline !important;
  margin-right: 10em;
}

dd.multi_inline {
  margin-left: 0;
  /* padding-bottom: 15px; 
  padding-top: 5px;*/
}

form.flc-uploader.fl-uploader.fl-progEnhance-enhanced { 
  display:none;
}

form.fl-uploader p {
  color: #898989;
  padding-bottom: 0.5em;
}

.dd-edit-language {
  font-size: .9em !important;
}

span.toggle.edit {
  margin-left: 2em;	
}
	
a.toggle.edit {	
  margin-left: 2em;
}

span.edit-browse {
  margin-left: 20px;
}

a.destructive {
  display: block !important; 
}

.destructive field {
  margin-right: 0px;
}

div.contributors dl dt {
  width: 53em !important;
  text-align: left;
  font-size: .6em;
}

div.contributors  dd {
 width: 53em !important;
 font-size: 1.2em;
 margin-left: 0px;
 margin-top: .5em;
 margin-bottom: .9em;
float:left;
}

div.contributors dl dd span input {
  width: 50em;
  font-size: .8em;
}

div.contributors dd a {
  display: none;
}

.contributors dl dt label {
	font-size: 165%;
}

.person.contributor dt label {
   display:none; 
}
div.add_contributor_link a {
  margin-left: -14em;
}

div.add_contributor_link.creator.uketd_object a {
  display:none;
}
.submitLink {
	background-color: transparent !important;
	background: none !important;
	height: 1.4em !important;
	width: 101px !important;
	float: none !important;	
	font-size:1.0em;
	border: none;
	padding-left:1px;
	text-decoration: none !important;
	cursor: pointer;
}
input.submitLink:hover {
	text-decoration: underline !important;
	cursor: pointer;
}

#uploader_header {
  margin-top:2.4em;
}

#file_assets {
  margin-bottom: 2em;
}

fieldset.edit-half dl li {
  padding-bottom: 0.6em;
  padding-top: 0.4em;
}

fieldset.edit-half dl li span input {
  font-size: 1em;
  padding: 0.1em;
}
/* For object description display, abstract/descriptions can contain paragraph breaks, this targets such <p></p> to display the paragraphs properly */
.dd_text p {
  margin-bottom:1em;
}
#border {
  border-width: 0.1em;
  border-style: solid;
  border-color: #000
}



.cookies table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 0 1em;
    padding: 0;
    width: 100%;
}
.cookies table caption {
    font-size: 1.25em;
    font-weight: bold;
    margin-bottom: 0.5em;
}
.cookies th, article td {
    line-height: 1.3em;
    vertical-align: top;
}
.cookies tr:nth-child(2n) td {
    background-color: #C1CACB;
}
.cookies th {
    line-height: 1.25em;
    padding: 0.6em 0.5em;
}
.cookies td {
    padding: 0.6em 0.5em;
}
.cookies th {
    background-color: #91A23D;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    font-weight: normal;
    text-align: left;
}
.cookies td {
    background: none repeat scroll 0 0 #E1E8E8;
    border: 2px solid #FFFFFF;
}
