/* Stylesheet for Hull Hydra  

RG  090818

*/

/* Over-ride body etc in application.css */

html {
    background: none repeat scroll 0 0 #BCC4CA;
}

body {
  background: #BCC4CA;
  font: 0.8em Lucida Sans, Arial, Georgia;
  color:#000;
  margin: 0px;
  padding: 15px;
}

h1, h2, h3 {
    margin: 0.5em 0;
}

h3 {
    font-size: 100%;
}

h2 {
	font-weight: normal;
}

legend {
	font-weight: bold;
}

#doc1, #doc2, #doc1, #doc4 {
	width: 960px;
	border-bottom: 1px solid #898989;
	border-right: 1px solid #898989;
}

h1.document_heading {
	width:660px;
}

select,input,button,textarea {
    font: 0.8em Lucida Sans, Arial,Georgia;
    border-width: 1px;
}

a:link, a:visited, a:active {
    border-bottom: 0px;
    color: #000;
    text-decoration: none;
}

a:hover {
   text-decoration:underline;
}

/* HEADER & FOOTER */

#top-nav {

}

#uni-nav-links {
  padding-top: 4px;
  height: 30px;
  /* background: url(/images/top_nav_bg_h_new.gif) repeat-x; */
  background-color: #A02027;
}
/* nav link image is 25px, 26px to give separation */
/* nav link image is now 20px, 21px to give separation */

#uni-nav-links ul {
	margin-left: 15px;
	margin-top: 0px;
	width:400px;
	float: left;
	height: 15px;
	padding-top: 5px;
}
/* padding top (5) removed for BL */

/* ie workaround
* html #uni-nav-links {
	margin-top: 5px;
	margin-left: 17px;
}
*/

#uni-nav-links li {
	display: inline;
	list-style-type: none;
	padding-right: 12px;
	padding-left: 0px;
	padding-top: 0px;
	font-size: 1em;
    font-weight: bold;
}

/* ie workaround */
* html #uni-nav-links li {
	padding-left: 12px;
}

#uni-nav-links a {
       /*color: #8fb9c5;*/
	color: #fff;
	text-decoration: none;	
}

#uni-nav-links a:hover {
	color: #fff;	
	text-decoration: underline;
}

#uni-nav-links li.no-border {
	border-right: none;
}

#blacklight-user-links {
    margin-right: 15px;
	padding-top: 5px;
	color: #a02027;
	text-align: right;
	font-size: 1em;
	font-weight: bold;
}

#logo {
    margin-top: 0px;
    margin-left: 0px;
    height: 0px;
    background: url(/images/new-bw-logo.gif) top right no-repeat #000000;
    background-position: top right;
    padding-bottom:60px;
 }
 /*logo image is 51px, 55px to give margin */
 
 #hullFooter {
 	height: 50px;
	background: #D9E2E8;
	padding-left: 10px;
 
 }

#document h1 {
    font-size: 1.3em;
}
 
.tableNoBorder {
	border-collapse: collapse;
    border-color: #E2E8D9;
    border-width: 0;
    color: #333333;
    font-size: 78%;
 }

#about {
    margin-top: 0px;
    margin-left: 0px;
	padding-left: 5px;
}

#about ul {
    margin-top: 0px;
    margin-left: -400px;
	width: 830px;
	padding-left: 5px;
}
/* needed to override inherited ul */
 
 /* INDEX & CATALOG DISPLAY */

h1.site_title {
 background:url(/images/hydra_logo_h50_transparent_bg.png) no-repeat scroll left top transparent;
}

 
 table.index  {
 width: 100%;
 border-width: 0px;
 padding: -10px;
 }
 
 table.index td {padding: 2px 5px}
 
 table.resource {
 table-layout: auto;
 width: 100%;
 border-width: 0px;
 border-collapse: collapse;
 background-color: #e2edfe;
 text-align: center;
 }
 
 table.resource td {
 width: 25%;
 }
  
 td.label {
 color: gray;
 width: 120px;
 text-align: right;
 /* background-color: #fff7e5; */
 }
 
 td.greybox {
 background: #e0e0e0;
 border-width: 1px;
 border-color: #505050;
 }
  
.indexContainer, .splashContainer, .iconContainer
{
width: 100%;
position: relative;
margin: 10px auto;
line-height: 130%;
clear: both;
}

.contentContainer
{
width: 100%;
position: relative;
overflow: hidden;
line-height: 130%;
clear: both;
background-color: #e2edfe;
}

.indexCol1, .splashCol1
{
float: left;
margin: 0;
text-align: right;
top: 0;
color: #888;
}

.indexCol1 {width: 125px;}
.splashCol1 {width: 150px;}

.indexCol2
{
margin-left: 135px;
margin-right: 130px;
}
/* indexCol1 width + 10px */

.splashCol2
{
margin-left: 160px;
}
/* splashCol1 width + 10px */

.indexImg
{
float: right;
position: absolute;
top: 0px;
right: 0px;
max-height: 90px;
}

.thumbnailImg
{
border: 1px solid #e2edfe;
}

.homeCol1 {
top: 0px;
float: left;
margin-left: 0px;
width: 480px;
text-align: left;
margin-left: 0px;
margin-top: -21px;
}

.homeCol2 {
top: 0px;
margin-left: 500px;
width: 180px; 
padding: 15px;
background-color: #D9E2E8;
}

.contentCol1, .contentCol2, .contentCol3, .contentCol4, .iconCol1, .iconCol2, .iconCol3
{
float: left;
text-align: center;
top: 0;
}

.contentCol1, .contentCol2 { width: 30%; }
.contentCol3, .contentCol4 { width: 20%; }

.iconCol1, .iconCol2, .iconCol3 {width: 32%;}

/* Overriding to remove the left border from catalog pages */

.yui-t1 #yui-main .yui-b, .yui-t2 #yui-main .yui-b, .yui-t3 #yui-main .yui-b 
{
	border-left:0px;
}

#yui-main {
    position: relative;
    width: 930px;
}

/* Overriding to remove the bottom border from asset view */
.document 
{
 border-bottom:0px;
}

#hd
{
    margin:0px;
    background-color: #D9E2E8;
    border-bottom:0px;
    padding: 1.5em 0;
}

#hd .yui-g .first {
    padding-left: 25px;
}

#search {
    border: 0px;
    padding-top: 0.6em;
    margin-left: 3.5em;
}

#search #q {
    width: 350px;
    height:25px;
    border-width: 1px 1px 1px 1px;
    font-size:115%;
    padding-left:0.25em;
    padding-right:0.25em;
    box-shadow: 2px 2px 2px #b1b1b1 inset;
    -moz-box-shadow: 2px 2px 2px #b1b1b1 inset;
    -webkit-box-shadow: 2px 2px 2px #b1b1b1 inset;
}

#search .submit {
    margin: 0 0em;
    padding: 0 0em;
    cursor:pointer;
    background: url("/images/button-bg.png") no-repeat scroll 0 0;
    height:30px;
    border-width: 1px 1px 1px 1px;
    padding-left:0.25em;
    padding-right:0.25em;
border 0 none;
}

/* #appliedParams and #sortAndPerPage are displayed on results pages */

 
 border:0px solid #AAA;
}

#sortAndPerPage {

}

.homeContainer {
	width: 100%;
	position: relative;
	margin: 10px auto;
	line-height: 130%;
	lear: both;
	margin-left;0px;
}

.pageEntriesInfo {
    background-color: #D9E2E8;
    border-width: 0px 0px 0;
    padding: 0.66em;
    border-radius: 0px 0px 0 0;
}

#appliedParams {
    background-color: #D9E2E8;
    border-bottom: 0px;
    border-left: 0px;
    border-radius: 0 0 0px 0px;
    border-right: 0px;
    margin-bottom: 1.5em;
    padding: 1em 0.66em 0 1em;
}

#appliedParams a#startOverLink {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("/images/button-bg.png") no-repeat scroll top left transparent;
    border-color: #898989;
    border-style: solid;
    border-width: 0 1px 1px 0;
    color: #FFFFFF;
    display: block;
    margin-right: 3px;
    margin-top: -10px;
    padding: 0 15px 0 15px;
    position: absolute;
    right: 0;
    text-decoration: none;
    top: 50%;
    line-height: 20px;
    color: #333;
}

#appliedParams h3 {
    padding: 5px 2px 5px 23px;
    margin-right: 0.3em;
	border: 1px dotted #bcb5a7;
}

.appliedFilter {
    padding: 5px 2px 5px 23px;
    border-radius: 0 0 0 0;
	border: 1px dotted #94b9f6;
}

#appliedParams div {
    padding: 5px;
    margin-right: 0.3em;
	background-color: #DDFFAA;
    border: 1px dotted #339900;
}

#sortAndPerPage {
    background-color: #D9E2E8;
    border-width: 0 0px 0px;
    padding: 0.66em 1em;
}

.appliedFilter .btnRemove {
    width: 30px;
}

#documents {
    background-color:#fff !important;
    color: #000 !important;
    width: 100%;
    z-index: 100;
	position: relative;
}

#title_div {
	width: 660px !important;
	font-family: Georgia, Times New Roman;
	font-size: 1.5em !important;
	font-weight: normal !important;
	text-decoration: normal !important;
}

#previousNextDocument {
	background-color: #fff;
	border: 1px dotted #333333;
    border-radius: 0 0 0 0;
    margin-bottom: 0em;
    margin-left: 697px;
    margin-top: -24px;
}

.pagination {
	padding: 0.66em 0.66em 0 0;
	background-color:transparent;
	border-width: 0;
}

.pagination a, .pagination span {
    border: 1px solid #FFFFFF;
}

 /* Local facets */
 
#facets {
    padding: 1em 0em 0em 0em;
}
  
#facets ul {
    border-bottom: 0px dotted #000;
    padding:padding: 0.3em 0.3em 0.3em 0.5em;
    margin: 0;
    background-color: #fff;
 }  

#facets h2 {
    color: #000;
}

/*
#facets h3 {
    cursor: pointer;
    background-position:left bottom;
    background-repeat:no-repeat;
    padding-left:15px;
    background-image:url('/images/facet_closed.png');
    color: #000000;
    padding-top: 0.3em;
}
*/

#facets h3 {
    background-position: left bottom;
    background-repeat: no-repeat;
    color: #333;
    cursor: pointer;
    margin-left: 0px;
    margin-right: 0px;
    padding-bottom: 0.4em;
    padding-left: 5px;
    padding-right: 5px;
    font-weight:bold;
    border-bottom:1px dotted #000;
}

#facets h3.facet_selected{
    background-image:url('/images/facet_open.png');
}

#facets span.selected {
    color: #A02027;
}

#facets li {
    margin: 0.5em 0.45em;
}

#facets li a:hover {
    background-color:#fff;
}
a:link, a:visited, a:active {
    border-bottom: 0;
}

#slide_panel {
	display: none;
}

#slide_link {}

.slide_button {}

.minus_icon {}


.content-type-header h1{
	font-family: Georgia, Times New Roman;
	font-weight: normal;
	font-size: 1.5em !important;
}

dl dd {
	float: left;
	width: 39em !important;
	margin-top: 0em;
	margin-right: 25px;
	position: relative;
	margin-left: 1em;
	line-height: 1.4em;
	padding-bottom: 0.5em;
}

dl dt {
    clear: left;
    float: left;
    width: 10em;
    text-align: right;
    font-size: 1em;
    margin-top: 0em;
    line-height: 1.4em;
    color: #898989;
    padding-bottom: 0.5em;
}

.dd_title {
	font-family: Georgia, Times New Roman;
	font-weight: normal;
	font-size: 2em;	
	width: 25em !important;
}

.dd_text {
   width: 35em !important;
}

label {
    color: #898989;
    font-weight: normal;
}

div#show_hide_resources {
  float:left;
  width:100%;
  margin-top:1.7em;
  cursor:pointer;
}

span#additional_resources_span {
  background-image:url('/images/facet_closed.png');
  background-position:left center;
  background-repeat:no-repeat;
  padding-left:15px;
}

div#resources {
  margin-top:1.7em;
  height:40px;
  display:none;
}

div#resources-list {
  float:left;
  margin-top:1em;
  margin-left:0em;
  padding-top:1em;
  padding-bottom:1em;
  width:52em;
  background-color:#D9E2E8;
}

div#resources-list dl dt {

  text-align:center;
}

div#resources-list dl dd {
  width:25em;
  text-align: left;
}
div#content_div {
  float:left;
  width:640px;
}
div#content_div dl dt {
  width:100px;
}

div#content_div dl dd {
  width:400px;
}

div#genre_image {
  float:right;
  width:60px;
  height:90px;
}


div#downloads {
  float:right;
  margin-top:-32px;
  padding-top:0.5em;
  padding-bottom:1.7em;
  padding-left:0.5em;
  width:190px;
  background-color:#D9E2E8;
}

div#downloads-list {
  padding-top:1em;
}

div#qr_code {
  padding-left:32px;
}

div#file-size {
	padding-left:22px;
	color: #898989;
}

div#links {
  float:right;
  margin-top:1.7em;
  padding-top:0.5em;
  padding-bottom:1.7em;
  padding-left:0.5em;
  width:15em;
}


div#description {
  float:left;
  padding-bottom:1.7em;
  width:52em;
}

div#download_image {
  float:left;
  width:16px;
  height:16px;
  margin-right:5px;
}

div#file_size {
  padding-left:5px;
}

div.text-genre {
  background-image:url('/images/icons/text-x-generic-th.png');
  background-position:top left;
  background-repeat:no-repeat;
}

div.collection-genre {
  background-image:url('/images/icons/folder-th.png');
  background-position:top left;
  background-repeat:no-repeat;
}

div.dataset-genre {
  background-image:url('/images/icons/x-office-spreadsheet-th.png');
  background-position:top left;
  background-repeat:no-repeat;
}

div.event-genre {
  background-image:url('/images/icons/x-office-calendar-th.png');
  background-position:top left;
  background-repeat:no-repeat;
}

div.image-genre {
  background-image:url('/images/icons/image-x-generic-th.png');
  background-position:top left;
  background-repeat:no-repeat;
}

div.video-genre {
  background-image:url('/images/icons/video-x-generic-th.png');
  background-position:top left;
  background-repeat:no-repeat;
}

div.software-genre {
  background-image:url('/images/icons/binary-file-th.png');
  background-position:top left;
  background-repeat:no-repeat;
}
div.sound-genre {
  background-image:url('/images/icons/volume-medium-th.png');
  background-position:top left;
  background-repeat:no-repeat;
}

div.presentation-genre {
  background-image:url('/images/icons/x-office-presentation-th.png');
  background-position:top left;
  background-repeat:no-repeat;
}

div.pdf-download {
  background-image:url('/images/icons/download_icons/pdf.gif');
  background-position:left center;
  background-repeat:no-repeat;
}

div.img-download {
  background-image:url('/images/icons/download_icons/img.gif');
  background-position:left center;
  background-repeat:no-repeat;
}
div.doc-download {
  background-image:url('/images/icons/download_icons/msword.gif');
  background-position:left center;
  background-repeat:no-repeat;
}
div.vid-download {
  background-image:url('/images/icons/download_icons/vid.gif');
  background-position:left center;
  background-repeat:no-repeat;
}
div.sound-download {
  background-image:url('/images/icons/download_icons/sound.gif');
  background-position:left center;
  background-repeat:no-repeat;
}
div.presentation-download {
  background-image:url('/images/icons/download_icons/msppt.gif');
  background-position:left center;
  background-repeat:no-repeat;
}
div.spreadsheet-download {
  background-image:url('/images/icons/download_icons/msexcel.gif');
  background-position:left center;
  background-repeat:no-repeat;
}
div.zip-download {
  background-image:url('/images/icons/download_icons/zip.gif');
  background-position:left center;
  background-repeat:no-repeat;
}
div.generic-download {
  background-image:url('/images/icons/download_icons/generic.gif');
  background-position:left center;
  background-repeat:no-repeat;
}

/* notice, error override */

.notice {
    background-color: #DDFFAA;
    border: 1px dotted #339900;
    font-family: Georgia;
    margin-bottom: 2em;
    padding: 1em;
}

.error, .errorExplanation {
    background-color: #FFEEDD;
    border: 1px dotted #D21033;
    font-family: Georgia;
    margin-bottom: 2em;
    padding: 2em;
}
