label {
	font-weight: normal;
}

select {
	background-color:#FFFFFF;
	border:1px solid #cccccc;
	font-size:1em;
}


dl {
	overflow:hidden;
	margin-top:0;
	padding-top:0;
}

dt {
	clear: both;
	float:left;
	width:19%;
	text-align: right;
	font-weight: normal;
	color: #666666;
	padding: 5px;
}

dd {
	float: left;
	color: #000000;
	width: 75%;
	padding: 5px;
	}

dd ol, dd ul {
	margin: 0px;
	}

dd ol li, dd ul li {
	list-style-type: none;
}

#documents {
	background-color: #ffffff;
	}

#documents table {
	width: 100%;
	background-color: #ffffff;
	}
	
#documents table th {
	text-align: left;
	font-size: .9em;
	border-top: 1px dotted #CCCCCC;
	border-bottom: 1px dotted #CCCCCC;
}




/* suppress search field dropdown */

div#search form label {display: none;}
div#search select#search_field {display: none;}





/* zebra striped results */

#documents .odd .documentHeader {
	background-color:white;
}
#documents .even, #documents .even .documentHeader {
	background-color:#F5F5F5;
}


/* Results navigation */

#sortAndPerPage  {
	padding:3px;
}

#showUtils {
	text-align: center;
	margin: 0 0 15px 0;}

#showUtils .back_to_cat {
	float:left; 
}
#showUtils #previousNextDocument {
	display: inline;
	}

#showUtils .edit-browse {
	float: right;
	}

.edit-browse .toggle {
	margin: 0px 5px;}





/* Override Blacklight search contraints/filters block */


#appliedParams h3 {position:relative; padding:0px; margin:0;background-color:#FFFFFF; border: none; overflow:visible; font-weight: normal; display: inline;}
#appliedParams img {display: none;}
.appliedFilter {display:inline; background-color:#ffffff; padding:0px; margin: 0px; border:none;position:relative;}
#appliedParams div {position:relative; padding:1em 0 0 0; background:#FFFFFF;}
.appliedFilter .btnRemove{display:inline; position:absolute; right:-30px; top:0; background:url("/images/icons/delete.png") no-repeat center center; border-left:none;}
.appliedFilter a.btnRemove {border:none;}
#appliedParams a#startOverLink{display:block; position:absolute; top:50%; right:0px; margin-top:-12px; padding:0 10px 3px 15px; line-height:22px; text-decoration:none; color:#fff;  border-bottom: none;}
.queryName, .filterName {padding-right:14px;}






/* Fluid edit control overrides */

a.flc-undo-redoControl, a.flc-undo-undoControl {
	background-image:url("/images/icons/undo.png");
	background-position:0 1px;
	background-repeat:no-repeat;
	color: transparent;
	margin-left:5px;
	overflow:hidden;
	padding-left:15px;
	border-bottom: none;
}
	
.flc-undo-redoControl {
	background-image:url("/images/icons/redo.png");
}

a.flc-undo-redoControl:hover, a.flc-undo-undoControl:hover {
	color:#2E4F81;
	border-bottom: 1px dotted #2E4F81;
}

.editableText input[type=text] {
	width: 90% !important;
	font-weight: normal !important;
	color: #000 !important;
	}

input.flc-inlineEdit-edit {
  border  : 1px dashed #00CC00;
  padding : 1px;
  margin: -3px 0 -1px -3px;
}

li.editable, li.editable_textarea, li.editable_date_picker {
  list-style-type: none;
  clear:right;
}


.fl-inlineEdit-invitation-text, .fl-inlineEdit-invitation-text {
  color: #009900 !important;
  font-style: italic;
	}

a:hover {background-color:white !important;}