
label {
	color:#555555;
	font-weight:bold;
	font-size: .9em;
}
legend {position: absolute; top: -9999px; left: -9999px;}
fieldset {
		border: 0 none;
		border-bottom: 1px dotted #cccccc ;
		padding-bottom: .5em;
		margin-bottom: .5em;}


#contributor_fields dt label {position: absolute; top: -9999px; left:-9999px;}

select {
	background-color:#FFFFFF;
	border:1px solid #cccccc;
	font-size:.9em;
}

select.metadata-dd {width:10em;}

dl {
	overflow:hidden;
	margin-top:0;
	padding-top:0;
	max-width: 56em;
}
ol dl {
	border-bottom: none;
	}

dl dt {
	float:left;
	width:7em;
	text-align: right;
	font-weight: normal;
	color: #666666;
	margin-top: 1em;
	}

dl dd {
	float: left;
	color: #000000;
	margin-top: 1em;
	max-width: 44em;
	position: relative;
	}
	
dl dd#topic_tag li {
	padding: 2px 0;
	}

dl dd ol, dl dd ul {
	margin: 0px; padding: 0px;
	}

dl dd ol li, dl dd ul li {
	list-style-type: none;
}

dl.person dt label {
	position: absolute; top: -9999px; left: -9999px;
}

#documents {
	background-color: #ffffff;
	}

#documents table {
	width: 100%;
	background-color: #ffffff;
	}
	
#documents table th {
	text-align: left;
	font-size: .9em;
	border-top: 1px dotted #CCCCCC;
	border-bottom: 1px dotted #CCCCCC;
}

h2, h3 {font-weight: normal;}

/* File asset table */

table#assets {
	width: 100%;
	background-color: #ffffff;
	}

table#assets  th {
	text-align: left;
	font-size: .9em;
	border-top: 1px dotted #CCCCCC;
	border-bottom: 1px dotted #CCCCCC;
}

table#assets > col {width: auto;}


/* suppress search field dropdown */

div#search form label {display: none;}
div#search select#search_field {display: none;}





/* zebra striped results */

#documents .odd .documentHeader {
	background-color:white;
}
#documents .even, #documents .even .documentHeader {
	background-color:#F5F5F5;
}


/* Results navigation */

#sortAndPerPage  {
	padding:3px;
}

.yui-t2 #yui-main .yui-b {
	padding-top: 1em !important;
}

#showUtils {
	text-align: center;
	}
	
div.sidebar {
	position: relative;
}


#showUtils .back_to_cat {
	left:-200px;
	position:absolute;
	font-size: 1.2em;
	top: 1em;
}
#showUtils #previousNextDocument {
	display: inline;
	}

#showUtils .edit-browse {
	float: right;
	}

.edit-browse .toggle {
	margin: 0px 5px;}




/* Override Blacklight search contraints/filters block */


#appliedParams h3 {position:relative; padding:0px; margin:0;background-color:#FFFFFF; border: none; overflow:visible; font-weight: normal; display: inline;}
#appliedParams img {display: none;}
.appliedFilter {display:inline; background-color:#ffffff; padding:0px; margin: 0px; border:none;position:relative;}
#appliedParams div {
	line-height:22px; 
	padding:1em 0 0 0; 
	background:#FFFFFF;}
.appliedFilter .btnRemove{display:inline; position:absolute; right:-30px; top:0; background:url("/images/icons/delete.png") no-repeat center center; border-left:none;}
.appliedFilter a.btnRemove {border:none;}
#appliedParams a#startOverLink{
	background-position: left top;
	float: left;
	padding:0 2em 3px 1em; 
	margin: 0;
	line-height:22px; 
	text-decoration:none; 
	color:#fff; 
	border-bottom: none;}
.queryName, .filterName {padding-right:14px;}



/* Fluid edit control overrides */

a.flc-undo-redoControl, a.flc-undo-undoControl {
	background-image:url("/images/icons/undo.png");
	background-position:0 1px;
	background-repeat:no-repeat;
	color: transparent;
	margin-left:5px;
	overflow:hidden;
	padding-left:15px;
	border-bottom: none;
	font-size: .9em;
}
	
a.flc-undo-redoControl {
	background-image:url("/images/icons/redo.png") !important;
}

span.flc-undo {
	display:inline-block;
	height:12px;
	overflow:hidden;
	width:20px;
}

/* a.flc-undo-redoControl:hover, a.flc-undo-undoControl:hover {
	color:#2E4F81;
	border-bottom: 1px dotted #2E4F81;
}*/

fieldset dl dd input {
	padding: 0px;
	margin-left: -4px;
	margin-top: -1px;
	font-weight: normal !important;
	color: #000 !important;
	}

input.flc-inlineEdit-edit {
  border  : 1px dashed #00CC00;
  padding : 1px 3px;
  margin: 0px;
}

li.editable, li.editable_textarea, li.editable_date_picker {
  list-style-type: none;
  clear:right;
}

li.editable-container {
  position: relative;
}

dd .fl-inlineEdit-invitation-text {
  color: #CCCCCC !important;
  font-style: italic;
  border  : 1px dashed #CCCCCC;
  padding : 1px 3px;
}

dd :hover.editable-text {
	color: #00cc00 !important;
}

/* a:hover {background-color:white !important;} */
ol li{ list-style:none outside !important;}

#topic_fields dt label {display: block;}
#topic_fields dt a {font-size: .9em;}