<h3><%=h facet_value if facet_value %> <em><%= grouped_result_count(@response, facet_name, facet_value) %></em></h3>
<table>
  <tr>
    <th class="date">Date</th>
    <th class="title">Title</th>
    <th class="type">Document Type</th>
    <th class="loc">Location</th>
  </tr>
  <% docs.each_with_index do |document,counter| %>
   <%= render_document_partial document, 'index', :counter => counter %>
  <% end %>
</table>
