<div id="show_hide_resources" >
<span id="additional_resources_span">Show additional information</span>
</div>
<div id="resources">
	<div id="resources-list">
    <dl>
      <dt>MODS metadata</dt>
      <dd><%= link_to "view", datastream_content_url(params[:id], "descMetadata"), :target=>"_blank" %></dd>
      <dt>DC metadata</dt>
      <dd><%= link_to "view", datastream_content_url(params[:id], "DC"), :target=>"_blank" %></dd>
    </dl>
  </div>
</div>
