<% if (@document_fedora.queue_membership == [:qa] || @document_fedora.queue_membership == [:hidden] || @document_fedora.queue_membership == [:deleted]) %>
  <div style="width:100%;height:2.2em;">
    <%=form_for @document_fedora, :url=>change_queue_path(:content_type=>@document_fedora.class.to_s.underscore, :workflow_step=>"publish", :id => @document_fedora.pid ), :id=>"document_queue" do %>
      <div class="form-control">  
        <%= submit_tag "Publish", :confirm => "Are you sure you want to Publish this resource?" %>
      </div>
    <%end%>
  </div>
<% end %>


