<div class="document_viewer" id="cover_container">
 	<%= render :partial => "shared/delete_asset_link", :locals => {:pid=>params[:id]} %>
  <div class="content-type-header">
    <h1>Edit a journal article</h1>
  </div>
  <div class="multipleEdit">
    <%= render :partial => 'journal_articles/edit_description' %>
  	<%= render :partial => "shared/compound_resources" %>
  </div>
</div>
<%= async_load_tag(asset_file_assets_path(params[:id], :layout=>"false"), 'uploads') %>
