<% if params[:files] %>
  <script type="text/javascript">
    $(document).ready(function() {
      $("#accordion").accordion({active: 1});
    });
  </script>
<% end %>


<% javascript_includes << "/plugin_assets/fluid-infusion/infusion-1.2-src/lib/jquery/ui/js/jquery.ui.accordion.js" %>
<% javascript_includes << ['custom', 'catalog/show', {:plugin=>:hydra_repository}] %>

<div class="document_viewer" id="cover_container">  
    <h1>Journal article</h1>
  <%= render :partial => 'journal_articles/show_description' %>
  <%= render :partial => 'journal_articles/show_downloads' %>
  <%= render :partial => 'journal_articles/show_links' %>
</div>
  <%= render :partial => 'journal_articles/show_resources' %>
