<div class="document_viewer" id="cover_container">
	<%= render :partial => "shared/delete_asset_link", :locals => {:pid=>params[:id]} %>
  <div class="content-type-header">
    <h1>Edit content</h1>
  </div>
  <div class="multipleEdit">
   	<% if @document_fedora.queue_membership.include?(:proto) %>
			<%= render :partial => 'generic_contents/edit_generic', :locals=>{:content_type=>'generic_content'} %>
		<% else %>
			<%= render :partial => 'generic_contents/edit_generic_qa', :locals=>{:content_type=>'generic_content'} %>
		<% end %>		
  </div>
</div>

<%= async_load_tag(asset_file_assets_path(params[:id], :layout=>"false"), 'uploads') %>
