<div class="document_viewer" id="cover_container">
	<div class="deleteDocument">
    <%= link_to "Delete resource", asset_path(params[:id]), :method=>:delete, :confirm => "Are you sure you want to delete the resource and its content?", :class => "submitLink"%>
	</div>
  <div class="set-controls">
    <!-- holder for create/move set controls -->
	<div class="create">
		<a href="">Create a new set</a>
	</div>
	<div class="move">
		<a href="">Move to a new set</a>
	</div>
  </div>
  <div class="content-type-header">
    <h1>Edit content</h1>
  </div>
  <div class="multipleEdit">
		<%= render :partial => 'shared/edit_generic_qa', :locals=>{:content_type=>'generic_content'} %>
    
    <%= render :partial => "shared/compound_resources" %>
  </div>
</div>

<%= async_load_tag(asset_file_assets_path(params[:id], :layout=>"false"), 'uploads') %>
