<% display_type = params[:display_type].nil? ? 'list' : params[:display_type] %>

<%= render :partial => "shared/index_#{display_type}", :locals => {:document => document, :counter => counter } %>
<div id="genre_image" class="text-genre" ></div>

