<div class="document_viewer" id="cover_container">
  <div class="content-type-header"><h1>Thesis or dissertation</h1></div>
  <%= render :partial => 'uketd_objects/show_description' %>
  <%= render :partial => 'shared/show_downloads' %>
  <%= render :partial => 'shared/show_links' %>
  <%= render :partial => 'uketd_objects/show_resources' %>
</div>


