<div id="" style="height:550px;">
  <h2>Additional Resource Information</h2>
	<dl>
		<dt>MODS metadata</dt>
		<dd><%= disseminator_link params[:id], "descMetadata" %></dd>
		<dt>DC metadata</dt>
		<dd><%= disseminator_link params[:id], "DC" %></dd>
	</dl>
</div>
