<div id="links">
  <fieldset>
   <legend>QR code link to this page</legend>
   <div id="qr_code">
     <img src="http://chart.apis.google.com/chart?cht=qr&chl=http://hydra.hull.ac.uk/catalog/<%=params[:id]%>&chs=120x120" alt="QR Code"/>
    </div>
 </fieldset>
</div>
