<%# this should imitate the stuff in catalog/_show_partials/_default_details -%>
<div id="multipleEdit">
<dl class="defList">
  <%# default partial to display solr document fields in catalog show view -%>
  <dl class="defList">
    <p><%= editable_metadata_field(@document, "descMetadata", :title, :label => "Title:", :multiple=>false) %></p>
    <p><%= editable_metadata_field(@document, "descMetadata", :date, :label => "Date:", :multiple=>false) %></p>    
    <p><%= editable_metadata_field(@document, "descMetadata", :medium, :label => "Document Type:", :multiple=>false) %></p>
    <dt>Location:</dt>
    <dd><%#=h @document.datastreams["descMetadata"].date_values.first %></dd>
    <%#= get_data_with_label(document, "Location:", 'location_t') %>
    <%# callnums = get_callnum(document) %>
    <%#= get_suppl_urls(document) %>  
    <%#= show_formats(document['format']) %>
    <%#= get_toc(document.marc) %>
  </dl>
</dl>
</div>
<%# -- end of code replicating catalog/_show_partials/_default_details -%>