<div class="document_viewer" id="cover_container">
  <div class="content-type-header"><h1>Examination paper</h1></div>
  <%= render :partial => 'exam_papers/show_description' %>
  <%= render :partial => 'shared/show_downloads' %>
  <%= render :partial => 'shared/show_links' %>
  <%= render :partial => 'shared/show_resources' %>
</div>



