<
	      <div class="homeCol1">
          <h1>We're sorry, but something went wrong</h1>
          <p>&nbsp;</p>
          <p>We've been notified about this issue and we'll take a look at it shortly.</p>
          <p>&nbsp;</p>
          <p>If you find the issue persists, help is available via the Library Service Desk .<p>
      </div>

	    <div class="homeCol2">
		    <h3>Further information</h3>
			    <p>&nbsp;</p>

			    <p><a href="takedown.html">Take down policy</a></p>
		        <p>&nbsp;</p>
			    <p><a href="contact.html">Contact details</a></p>
		        <p>&nbsp;</p>
			    <p><a href="cookies.html">Cookies></p>
	    </div>

