            	      <div class="homeCol1">
		      <h1>About Spoken Word Services</h1>
		      <p>&nbsp;</p>
		      <p>The Spoken Word Project has evolved from a JISC/NSF-funded project called Digital Libraries in the Classroom.  Following the conclusion of the project, the Spoken Word team maintains a partnership with BBC Information and Archives based on a unique deposit agreement. Under this agreement, GCU may source audio and video from the BBC archive and provide access to it for educational purposes.  The BBC archives are a unique repository of UK history and culture, stretching back to 1937.  There are over one million items in the archives, ranging from Leonard Cheshire’s eyewitness account of the Nagasaki atomic bomb to Boy George’s frank discussion of his own heroin addiction.  The deposit agreement was renewed in 2009 for a further 5 year period allowing continued access until 1st February 2014.&nbsp;</p>
<p>  
The Spoken Word team members have access to the BBC’s archive catalogue and use this to assist lecturers in finding items that may be of relevance to their research or teaching modules.  Items are then ordered in batches from the BBC.  More recent items (post 2007) can be sourced directly from the BBC’s online programme store.  Lecturers then build collections based on their teaching and research interests.  Several hundred hours of audio and video have already been collected.&nbsp;</p>
<p>
In accordance with the licence agreement, copies of the BBC audio and video are hosted in a secure repository at GCU.  Access to view and download the programmes is granted to authenticated users around the world who sign-up to our terms and conditions.  In support of the university’s blended learning agenda, Spoken Word aims to make it as easy as possible to access digital audio and video materials in context. </p>
		      <p>&nbsp;</p>
			  <p>Feedback and suggestions for future development are welcome: please email <a href="mailto:c.webb@gcu.ac.uk?cc=m.kelt@gcu.ac.uk&subject=GCU Store">Caroline Webb</a>.</p>
		      <p>&nbsp;</p>
			  <p>This browser page is but one of a number of ways in which material in the repository can be accessed: you can also find repository material through the <a href="http://www.gcu.ac.uk/library/">Discover interface</a> Please explore the available options and check back for latest additions over the coming months.</p>
		      <p>&nbsp;</p>
			  <p>GCU Store is provided by the Digital Development Team withint the Library. </p>
			  <p>&nbsp;</p>
			  <p>&nbsp;</p>
			  <h3>Acknowledgements</h3>
			  <p>&nbsp;</p>
			  <p>This user interface is based on the University of Hull's Digital Repository and has been developed with their kind permission.  The software that drives this Hydra interface was developed jointly by the University of Hull, Stanford University, the University of Virginia and MediaShelf LLC as part of the <a href="http://projecthydra.org" target="_blank">Hydra Project</a>.</p>
			  <p>&nbsp;</p>
			  <p>Genre icons taken from the Open Clip Art Library (OCAL) at <a href="openclipart.com" target="_blank">openclipart.com</a></p>
			  <p>&nbsp;</p>
			  <p>This site uses Google Analytics.</p>

      </div>

	    <div class="homeCol2">
		    <h3>Further information</h3>
			    <p>&nbsp;</p>

			    <p><a href="/takedown">Take down policy</a></p>
		        <p>&nbsp;</p>
			    <p><a href="/contact">Contact details</a></p>
        <p>&nbsp;</p>
			    <p><a href="/cookies">Cookies</a></p>
	    </div>
