	      <div class="homeCol1">
		      <h1>About the digital repository</h1>
		      <p>&nbsp;</p>
		      <p>GCU Store is a repository for digital materials at the Glasgow Caledonian Univeristy. It can hold and manage any type of digital material, and is being developed in response to the growth in the amount of digital material that is generated through the research, education and administrative activities within the University. The repository is particularly well suited for materials that can be shared (openly or on a restricted basis) and/or where the material needs to be preserved for the medium to long-term. Materials currently being managed through the repository include images, project reports, undergraduate dissertations, teaching materials, datasets, collections of past exam papers and doctoral theses.</p>
		      <p>&nbsp;</p>
			  <p>Feedback and suggestions for future development are welcome: please email <a href="mailto:c.webb@gcu.ac.uk?cc=m.kelt@gcu.ac.uk&subject=GCU Store">Caroline Webb</a>.</p>
		      <p>&nbsp;</p>
			  <p>This browser page is but one of a number of ways in which material in the repository can be accessed: you can also find repository material through the <a href="http://www.gcu.ac.uk/library/">Discover interface</a> Please explore the available options and check back for latest additions over the coming months.</p>
		      <p>&nbsp;</p>
			  <p>GCU Store is provided by the Digital Development Team withint the Library. </p>
			  <p>&nbsp;</p>
			  <p>&nbsp;</p>
			  <h3>Acknowledgements</h3>
			  <p>&nbsp;</p>
			  <p>This user interface is based on the University of Hull's Digital Repository and has been developed with their kind permission.  The software that drives this Hydra interface was developed jointly by the University of Hull, Stanford University, the University of Virginia and MediaShelf LLC as part of the <a href="http://projecthydra.org" target="_blank">Hydra Project</a>.</p>
			  <p>&nbsp;</p>
			  <p>Genre icons taken from the Open Clip Art Library (OCAL) at <a href="openclipart.com" target="_blank">openclipart.com</a></p>
			  <p>&nbsp;</p>
			  <p>This site uses Google Analytics.</p>

      </div>

	    <div class="homeCol2">
		    <h3>Further information</h3>
			    <p>&nbsp;</p>

			    <p><a href="/takedown">Take down policy</a></p>
		        <p>&nbsp;</p>
			    <p><a href="/contact">Contact details</a></p>
        <p>&nbsp;</p>
			    <p><a href="/cookies">Cookies</a></p>
		        <p>&nbsp;</p>
			    <p><a href="spoken-word-end-user-licence-agreement.html">User Licence</a></p>
	    </div>
