	      <div class="homeCol1">
		      <h1>Contact information</h1>
		      <p>&nbsp;</p>
		      <p>Caroline Webb, Digital Repository Developer: <a href="mailto:caroline.webb@gcu.ac.uk?&subject=GCU Store">caroline.webb@gcu.ac.uk</a></p>
			  <p>&nbsp;&nbsp;&nbsp;&nbsp;Tel: +44 (0)141 2731227</p>
		      <p>&nbsp;</p>
		      <p>&nbsp;</p>
		      <p>&nbsp;</p>
		      <h1>Postal address</h1>
		      <p>&nbsp;</p>
			  Caroline Webb<br/>
			  Digital Development & Information Literacy<br/>
			  The Library<br/>
			  The Saltire Centre<br/>
			  Glasgow Caledonian University<br/>
			  Cowcaddens Road<br/>
			  Glasgow    G4 0BA<br/>
			  UK<br/>
		      <p>&nbsp;</p>
		      <p>&nbsp;</p>


      </div>

	    <div class="homeCol2">
		    <h3>Further information</h3>
			    <p>&nbsp;</p>

			    <p><a href="/about">About the repository</a></p>
		        <p>&nbsp;</p>
			    <p><a href="/takedown">Takedown policy</a></p>
        <p>&nbsp;</p>
			    <p><a href="/cookies">Cookies</a></p>
	    </div>


