
	      <div class="homeCol1">
		      <h1>User Licence</h1>
		      <p>&nbsp;</p>
				<p><strong>Spoken Word End-User Licence Agreement</strong></p>
      <p>&nbsp;</p>
<p>Normally, this page is filled with incredible amounts of fine print legal mumbo-jumbo. We at the Spoken Word suspect that most of you would rather read this agreement in English instead of &#8220;legalese&#8221;. With this in mind, our friendly lawyer has written a somewhat non-standard licence agreement.</p>

      <p>&nbsp;</p>

<p>OK, it goes like this&#8230; you just accessed our materials archive, for which we are truly grateful (after all, your interest keeps us in business). However, when you accessed it, you were actually only being given the right to download or stream parts of it for educational use, not to republish or repost it. The stuff contained in the archive still belongs to us, or those third parties who have allowed us to make it available to you. By allowing you access to this material, we are &#8220;licensing&#8221; it to you. This is a lot like renting it forever&#8230; we still own it but you can use it all you want but only for educational use. What does all this mean to you? Not much. It simply gives us the right to require the following rules. We know it all sounds pretty sneaky, but bear with us&#8230; this is all normal stuff.</p>
      <p>&nbsp;</p>
<p>Here are the rules:-</p>
      <p>&nbsp;</p>
<p>    * You can only use the material for educational purposes, so don&#8217;t go selling it on e-Bay. Beyond the fact that it is illegal, it is also not very nice. After all, we and many others worked hard to make this archive what it is. Sometimes, some material will be subject to extra restrictions and this will be indicated clearly. You must observe these extra restrictions. In particular BBC archive material cannot be used, added to or altered without the prior consent of the BBC unless that action is permitted by the BBC end user agreement.<br />
    * Unless specifically mentioned otherwise, you can quote, excerpt and annotate the material for educational purposes. This includes teaching, research, private study and presentations at academic conferences.<br />
    * You may link education sites to the Spoken Word&#8217;s audio streams and downloadable files, but please tell us as we like to know how our material is being used.<br />
    * You may not remove or alter any copyright or ownership information, and must clearly acknowledge copyright ownership in any use you make of the material. That&#8217;s only fair after all as without others&#8217; work you would have no material at all.<br />
    * You can&#8217;t make any money from the use of the material. This includes selling, reselling, redistributing or otherwise making the material available in any medium including the internet. You were granted a licence for the material for you &#8230; but we don&#8217;t allow you to then licence it to others. If you&#8217;d like to do that, send us your proposal for consideration. We do read our mail&#8230; honest.<br />
    * All these rules apply not only to the entire database but also to every part of it. So, don&#8217;t do giving away copies of documents / files &#8211; that&#8217;s not legal either. Our copyrights and other proprietary rights (sounds a bit like that legal talk, I know) apply not only to the material, but to any derivation of it. In other words, if you make something using part of our database – and which is not educational use &#8211; we will send our legal-types after you&#8230; so don&#8217;t do it.<br />
    * The material in the archive is provided &#8220;as is&#8221; and we make no guarantees about the quality, relevance, accessibility or completeness of the materials. We have worked to make a good archive&#8230; but we don&#8217;t make any promises. So, if you run into a problem, you may call our support line and we will help if we can.<br />
    * We are also not liable for any problems our material may cause. Legally, we cannot be held responsible for any use you make of the material. Though this may sound particularly underhanded, it is standard for all of these agreements. As before, if you run into a problem, just call.<br />
    * You will pay us any costs and damages we suffer if you do something you&#8217;re not allowed to. This would include the costs of our legal types. As we are proud to be a Scottish based project, this agreement will be under Scots law and enforced in the Scottish courts.</p>
      <p>&nbsp;</p>
<p>That&#8217;s the entire agreement, in a nutshell. If you have any questions about this agreement or any other facet of the Spoken Word, feel free to call. We hope you find the materials of use and we look forward to creating more materials for you to enjoy.</p>
      <p>&nbsp;</p>
<p>Spoken Word is a project of Glasgow Caledonian University , 70 Cowcaddens Road, Glasgow G4 0BA , Scotland .</p>
      <p>&nbsp;</p>
<p>It is supported by funds from JISC/NSF as part of the Digital Libraries in the Classroom programme.<br />
      <p>&nbsp;</p>
If you like this end-user licence agreement and would like to adapt it to your own purposes, please contact David Flint, MacRoberts, 152 Bath Street , Glasgow G2 4TB , Scotland .</p>

      </div>



	    <div class="homeCol2">

		    <h3>Further information</h3>

			    <p>&nbsp;</p>



			    <p><a href="about.html">About the repository</a></p>
            <p>&nbsp;</p>
			    <p><a href="cookies.html">Cookies policy</a></p>
		        <p>&nbsp;</p>
			    <p><a href="contact.html">Contact details</a></p>
		        <p>&nbsp;</p>
			    <p><a href="takedown.html">Takedown Policy</a></p>

	    </div>

