<div class="lightboxTitle">
  <div class="lightboxBack">
    <%= link_to "Close [X]", catalog_path(@document.id), {:class => "lightboxLink", :name => 'citation'} %>
  </div>
  <%= document_show_html_title %>
</div>


<h4>Apologies</h4>
Citations are not currently available for SALT content.
