<div id="documents" class="thumbnail-grid">
  <%- @response.docs.each do |document| -%>
  <div class="document thumbnail">
    <%= link_to_document(document, :label => image_tag('default_thumbnail.gif')) %>
    <%= link_to_document(document, :label => truncate(document.get('title_facet'), :length => 20, :omission => "...")) -%>
    <%= document['date_t'] %>
  </div>
  <%- end -%>
</div>