<div id="documents" class="thumbnail-grid">
  <%- @response.docs.each_with_index do |document, counter| -%>
  <div class="document thumbnail">
    <%= link_to_document(document, :label => image_tag('default_thumbnail.gif'), :counter => (counter + 1 + @response.params[:start].to_i)) %>
    <%= link_to_document(document, :label => truncate(document.get('title_facet'), :length => 20, :omission => "..."), :counter => (counter + 1 + @response.params[:start].to_i)) -%>
    <%= document['date_t'] %>
  </div>
  <%- end -%>
</div>