	<div class="homeCol1">
		<h1>Welcome to Spoken Word Services </h1>
	  <br/>
    <p>Create a search by adding a search term in the box above and/or by using the filters (facets) at the left of the screen.  Alternatively you can browse our collections using the link below</p><br/>
    <h2><a href="/?f[is_member_of_s][]=info%3Afedora%2Fhull%3ArootDisplaySet&results_view=true&per_page=20&sort=title_facet+asc">Browse Collections<br/><br/><img src="/images/theses.jpg"></a></h2>
		<p>
	<% if current_user %>
		<% user_groups = RoleMapper.roles(current_user.login) %>

    <% if !user_groups.empty? %>
       You are logged in and you are a member of <%= user_groups.join(", ") %><br/></br/>
    <% end %>
 
	
	<% else %>
		<!-- Public searches/content here -->  
		<div id="border"><div style="padding:0.75em"><strong>If you are a GCU student or member of staff</strong> and have not yet logged in during this browser session you should do so using the link on the green bar above so that you will have access to 'University only' content.</div></div>
    <br/>
	<% end %>

	

</div>

	<div class="homeCol2">
    <h3>About SWS</h3>
    <p>Spoken Word Services is based at <a href="www.gcu.ac.uk">Glasgow Caledonian University</a>. Our core aim is to enhance and transform educational experience through the integration of digitised spoken word audio and video into learning and teaching.  We have a partnership agreement with the BBC which allows us to make audio and video from their archives available for educational use.  We also have an increasing amount of non-BBC content available, including audio recordings from the Glasgow Centre for Population Health events and Glasgow Caledonian University Archives Witness Seminars.

.</p>
    <br />
    <h3>Help us help you</h3>
    <p>Our staff are constantly working to expand the quantity and range of materials available through Hydra.  <b>Feedback and suggestions for future development and collections are welcome</b>: please email <a href="mailto:caroline.webb@gcu.ac.uk?cc=m.kelt@gcu.ac.uk&subject=GCU Store">Caroline Webb</a>.</p>
   </div>


