<div class="create_resource_container">
<h1>Create Resource</h1>
	<div class="create_resource">
  	<ul id="resource_list">
      <li>Text</li>
				<ul>
					<li><%= link_to "Electronic Thesis or Disseration", :action => "new", :controller => "assets", :content_type => "uketd_object" %></li>
					<li><%= link_to "Examination Paper", :action => "new", :controller => "assets", :content_type => "exam_paper" %></li>
				</ul>
			<li>Images</li>
		</ul>
  </div>
</div>


