<%# See code comments on ContributorsController.new to understand what this view does %>
  <%- new_topic_index = @document_fedora.datastreams["descMetadata"].find_by_terms(:subject,:topic).length %>
  <form id="add_contributor" action="<%= subjects_path(params[:asset_id],:content_type=>params[:content_type]) %>" method="post" accept-charset="utf-8">
      
      <%= render :partial=>"subjects/edit", :locals=>{:edit =>{}, :edit_counter => 0, :topic_counter => new_topic_index } %>
      <%= submit_tag "Add Subject", {:id => "addSubject"} %> 
  </form>
