<%# default partial to display solr document fields in catalog index view -%>

<%#  This bit of code runs through all the items first to find objectType and pid %>

<% objectType, pid = "false" %>
<% document_show_fields.each do |solr_fname| -%>
    <% if document[solr_fname] %>
		 <%# 'Type of resource' not available here so fudge with 'Genre' %>
         <% objectType = document[solr_fname].to_s if document_show_field_labels[solr_fname] == 'Genre:' %>
		 <% pid = document[solr_fname].to_s if document_show_field_labels[solr_fname] == 'Identifier:' %>
    <% end %>
<% end -%>


<div>
  <% index_field_names.each do |solr_fname| -%>
    <% if document.get solr_fname %>
			<div class = "indexContainer">
				<div class="indexCol1"><%= h index_field_labels[solr_fname] %></div>
				<div class="indexCol2"><%= h document[solr_fname].respond_to?(:join) ? document[solr_fname].join('; ') : document[solr_fname] %></div>
				<% if index_field_labels[solr_fname] == 'Title:' %>
					<% if objectType == 'Photograph'  %><img class="indexImg thumbnailImg" src="https://hydra.hull.ac.uk/fedora/get/<%= pid %>/hydra-sDef:genericImage/getThumbnail"><% end %>
					<% if objectType == "Collection" %><img class="indexImg" src="collection.png"><% end %>
					<% if objectType == "Presentation"	%><img class="indexImg" src="presentation.png"><% end %>
					<% if objectType =~ /Journal/ %><img class="indexImg" src="document.png"><% end %>
					<% if objectType =~ /Thesis/ %><img class="indexImg" src="document.png"><% end %>
					<% if objectType =~ /Exam/ %><img class="indexImg" src="document.png"><% end %>
				<% end %>				
			</div>
    <% end -%>
  <% end -%>
</div>
