<div id="mediaPlayer">
<div id="player">
		This media player attempts to use html5 or flash.  If you cannot see the player please make sure your browser is up to date.  If you still have problems please contact <a href="mailto:info@spokenword.ac.uk?subject=Media%20player%20not%20displayed.">info@spokenword.ac.uk</a> 
    
</div>
<%# Better version of jwplayer for html5 playback but - need to fudge file url so has .mp4 extension %>
 <script type="text/javascript"> 
		jwplayer('player').setup({
				'width':"250",
				'height':"24",
				'controlbar.position' : "bottom",
        'bufferlength': "6",
        'file': "<%= fedora_content_url(params[:id], 'content')+"?dummy=/file."+get_content_format(@document_fedora,'contentMetadata','content' ) =%>",
				'modes': [
					{type: "html5"},
          {type: "flash", src: "/player.swf", config:{ provider: "video"}},          
					 ]
		});
</script>

</div>

