- access_entry = permissions_select
- access_entry_text = access_entry.text
- field_name = "#{access_entry_text}_access"
- access_entry_counter = permissions_select_counter
- choices = {"No Access" => "no_access","Discover" => "discover", "Read" => "read", "Edit" => "edit"}

%label{:for=>"field_name"}
  = access_entry_text
%select{:id=>"field_name", :name=>"field_name"}
  - choices.each_pair do |choice_label, choice_name|
    %option{:value=>choice_name, :selected=>!access_entry.ancestors("access[@type=\"#{choice_name}\"]").empty? } 
      = choice_name