<%# See code comments on ContributorsController.new to understand what this view does %>
<%- if params.has_key?(:contributor_type) %>
  <%- ct = params[:contributor_type] %>
  <%# Calculating the new index so all field values (ie first name & last name) will be added to one contributor with that index %>
  <%- new_contributor_index = @document_fedora.datastreams_in_memory["descMetadata"].find_by_terms(ct.to_sym).length %>
  <form id="add_contributor" action="<%= asset_contributors_path(params[:asset_id],:content_type=>params[:content_type]) %>" method="post"  data-resourceType="hydrangea_article" accept-charset="utf-8">
      <%= render :partial=>"contributors/edit_#{ct}.html", :locals=>{"edit_#{ct}".to_sym =>{}, "edit_#{ct}_counter".to_sym =>new_contributor_index}  %>
      <%= submit_tag "Add #{ct.capitalize}", {:id => "addContributor"} %> 
  </form>
<%- else %>
  <%= render :partial=>"contributors/new.html"  %>
<%- end %>
